<div class="container mt-5">
  <h2>Add Task</h2>
  <form [formGroup]="addTaskForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" formControlName="title" placeholder="Enter Title" required>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="date">Date</label>
        <input type="date" class="form-control" id="date" formControlName="date" required>
      </div>
      <div class="form-group col-md-6">
        <label for="status">Status</label>
        <select class="form-control" id="status" formControlName="status" required>
          <!-- <option value="">Select Status</option> -->
          <option value="Pending">Pending</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="fromTime">From Time</label>
        <input type="datetime-local" class="form-control" id="fromTime" formControlName="fromTime" required>
      </div>
      <div class="form-group col-md-6">
        <label for="toTime">To Time</label>
        <input type="datetime-local" class="form-control" id="toTime" formControlName="toTime" required>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" formControlName="description" rows="4" placeholder="Enter Description" required></textarea>
    </div>
    <div class="form-group">
      <label for="projectId" hidden>Project ID</label>
      <input type="number" class="form-control" id="projectId" formControlName="projectId" [(ngModel)]="projectId" placeholder="Enter Project ID" required hidden>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!addTaskForm.valid">Submit</button>
  </form>
</div>
