<div class="container">
  <h2>Add New Task</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="scrollable-list">
<form>
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <input type="text" id="form6Example1" class="form-control" />
          <label class="form-label" for="form6Example1">Title</label>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <input type="number" id="form6Example2" class="form-control" />
          <label class="form-label" for="form6Example2">Project Id</label>
        </div>
      </div>
    </div>
  
    <!-- Text input -->
    <div class="form-outline mb-4">
      <input type="text" id="form6Example3" class="form-control" />
      <label class="form-label" for="form6Example3">Status</label>
    </div>
  
    <!-- Text input -->
    <div class="form-outline mb-4">
      <input type="date" id="form6Example4" class="form-control" />
      <label class="form-label" for="form6Example4">Date</label>
    </div>
  
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="time" id="form6Example5" class="form-control" />
      <label class="form-label" for="form6Example5">From Time</label>
    </div>
  
    <!-- Number input -->
    <div class="form-outline mb-4">
      <input type="time" id="form6Example6" class="form-control" />
      <label class="form-label" for="form6Example6">To Time</label>
    </div>
  
    <!-- Message input -->
    <div class="form-outline mb-4">
      <textarea class="form-control" id="form6Example7" rows="4"></textarea>
      <label class="form-label" for="form6Example7">Description</label>
    </div>
  
    <!-- Checkbox
    <div class="form-check d-flex justify-content-center mb-4">
      <input class="form-check-input me-2" type="checkbox" value="" id="form6Example8" checked />
      <label class="form-check-label" for="form6Example8"> Create an account? </label>
    </div> -->
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Insert Task</button>
  </form>

</div>
</div>
<div class="col-md-6">
  <h1> Task Inserted Successfully </h1>
</div>
</div>
</div>