<h3>Leave Application</h3>
<div class="row">
    <div class="row">
        <div class="col-md-6">
            <table class="table-bordered text-center">
                <thead>
                    <tr>
                        <th>Application Date</th>
                        <th>LeaveType</th>
                       </tr>
                </thead>
                <tbody *ngFor="let leave of leaveApplications">
                    <tr>
                        <td>{{leave.createdOn |date}}</td>
                        <td>{{leave.leaveType}}</td>
                    </tr>
                </tbody>
        </table>
        </div>
        <div class="col-md-6">
            <!-- <app-todays-employee-leave></app-todays-employee-leave> -->
            <leave-details [applicationId]="leave.id"></leave-details>
    </div>
    <div class="row">
        <div class="col-md-6">   
        </div>
        <div class="col-md-6"> 
        </div>
    </div>
</div>
