<h3>Pay package</h3>
  <div class="container-fluid">  
    <div *ngIf="salary">
        <div><b>Pay Date:</b>{{date}}</div>
    <div ><b>Month:</b>{{salary.month}}</div>
    <div ><b>Year:</b>{{salary.year}}</div>
    <div ><b>MonthlyWorkingDays:</b>{{salary.workingDays}}</div>
    <div ><b>Deduction:</b>{{salary.deduction}}</div>
    <div ><b>Tax:</b>{{salary.tax}}</div>
    <div ><b>PF:</b>{{salary.pf}}</div>
    <div ><b>Total Amount:</b>{{salary.totalAmount}}</div>
    <div ><b>ConsumedPaidLeaves:</b>{{salary.consumedPaidLeaves}}</div>
    <div ><b>MonthlyBasicSalary:</b>{{salary.monthlyBasicSalary}}</div>
    <div ><b>hra:</b>{{salary.hra}}</div>
    <div ><b>da:</b>{{salary.da}}</div>
    <div ><b>lta:</b>{{salary.lta}}</div>
    <div ><b>variablePay:</b>{{salary.variablePay}}</div>
   </div>
</div>