<h3>Salary Details</h3>
<hr/>
  <div class="container-fluid">  
    <div *ngIf="pay">
        <div><b>Salary  Date:</b>{{date}}</div>
        <div><b>Salary  Date:</b>{{date|date:'MMM'}}</div>
        
    <div ><b>Month:</b>{{pay.month}}</div>
    <div ><b>Year:</b>{{pay.year}}</div>
    <div ><b>MonthlyWorkingDays:</b>{{pay.workingDays}}</div>
    <div ><b>Deduction:</b>{{pay.taxDetails.deduction}}</div>
    <div ><b>Tax:</b>{{pay.taxDetails.tax}}</div>
    <div ><b>PF:</b>{{pay.taxDetails.pf}}</div>
    <div ><b>Total Amount:</b>{{pay.totalAmount}}</div>
    <div ><b>ConsumedPaidLeaves:</b>{{pay.consumedPaidLeaves}}</div>
    <div ><b>MonthlyBasicSalary:</b>{{pay.salaryDetails.monthlyBasicSalary}}</div>
    <div ><b>hra:</b>{{pay.salaryDetails.hra}}</div>
    <div ><b>da:</b>{{pay.salaryDetails.da}}</div>
    <div ><b>lta:</b>{{pay.salaryDetails.lta}}</div>
    <div ><b>variablePay:</b>{{pay.salaryDetails.variablePay}}</div>
   </div>
</div>