<div class="container">
    <h2>Tasks Of Projects</h2>
    <div class="row">
      <div class="col-md-6">
        <table class="table table-secondary">
          <thead class="table-active">
            <tr>
              <th>Id</th>
              <th>Project</th>
              <th>Title</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of tasks">
              <td>{{ task.id }}</td>
              <td>{{ task.projectName}}</td>
              <td>{{ task.title }}</td>
              <td>
                <button class="btn btn-primary" (click)="viewDetails(task.id)">Details</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <div *ngIf="selectedTaskId !== undefined">
          <app-taskdetails [taskId]="selectedTaskId"></app-taskdetails>
        </div>
      </div>
    </div>
  </div>
  