
<h3 class="text-center col-6" > Form</h3>
<form (ngSubmit)="onSubmit()">
  <div class="form-group col-6">
  </div>
      <div class="form-group col-6">
        <label for="employeeId">Employee Id:</label>
        <input type="number" class="form-control" id="employeeId"  name="employeeId" [(ngModel)]="InOutTimeRecorder.employeeId" >
      </div>
      <div class="form-group col-6">
        <label for="workDate">Work Date:</label>
        <input type="date" class="form-control" id="workDate"  name="workDate" [(ngModel)]="InOutTimeRecorder.workDate">
      </div>
      <div class="form-group col-6">
        <label for="inTime">In :</label>
        <input type="time" class="form-control" id="inTime"  name="inTime" [(ngModel)]="InOutTimeRecorder.inTime">
      </div>
      <div class="form-group col-6">
        <label for="outTime">Out:</label>
        <input type="time" class="form-control" id="outTime"  name="outTime" [(ngModel)]="InOutTimeRecorder.outTime">
      </div>
      <div>
        <button type="submit">Add</button>
      </div>