

<h2>Recent Employee list</h2>

<!-- <div *ngFor="let employee of unassignedEmployees">
    <p>FullName:{{employee.fullName}}</p>
    <p>Employee:{{employee.employeeId}}</p>
    <p>membership:{{employee.membership}}</p>
    <p>AssignDate:{{employee.assignDate}}</p>
</div> -->

<table>
    <tr>
        <th>FullName</th>
        <th>Employee</th>
        <th>Role</th>
        <th>AssignDate</th>
    </tr>
    <tr *ngFor="let employee of unassignedEmployees">
        <td>{{employee.fullName}}</td>
        <td>{{employee.employeeId}}</td>
        <td>{{employee.projectRole}}</td>
        <td>{{employee.projectAssignDate |date}}</td>
    </tr>
</table>
