
<div *ngIf="employee">
  <label><b>Name : {{employee.firstName}}{{employee.lastName}}</b></label> 
</div><br><br>

<div>
    <table>
      <thead>
        <th>TimeRecord Id </th>
        <th>Date </th>
        <th>TotalTime </th>
        <th>Details</th>
      </thead>
      <tbody>
        <tr *ngFor="let timerecord of timerecords">
          <td scope="row">{{ timerecord.timeRecordId }}</td>
          <td>{{timerecord.date | date: 'MM/dd/yyyy'}}</td>
          <td> {{ timerecord.totalTime }} </td>  
          <!-- <td><button >Details</button></td>  -->
          <td><button (click)="onDetails(timerecord.date)">Details</button></td> 
        </tr>
      </tbody>
    </table>
  </div>
  <br>

  <p>If you want to calculate Time between two date's please enter dates</p>
  <div>
    <label><b>From Date :</b><input type="date" [(ngModel)]="fromDate" ></label>
    <label><b>To Date :</b><input type="date" [(ngModel)]="toDate" ></label>
    <button (click)="onSubmit()">Calculate</button>
  </div>

  <div *ngIf="timerecords && totalWorkingHRS">
    <b>Total Working HRS : {{totalWorkingHRS.totalWorkingHRS}}</b>
  </div>

  

 
 