



                <h1 class="card-title">MY Projects</h1>
                <div>
                    
                    <table>
                        <tr>
                          <th>Project Name</th>
                          <th>Start Date</th>
                          <th>End Date</th>
                          <th>Status</th>
                        </tr>
                        <tr *ngFor="let project of projects">
                          <td><a [routerLink]="['/employee/projects/todaysemployeework',project.id]">{{project.title}}</a></td>
                          <td>{{project.startDate|date}}</td>
                          <td>{{project.endDate|date}}</td>
                          <td>{{project.status}}</td>
                        </tr>
                      </table>
                </div>
    
                <button [routerLink]="['/employee/projects/projectActivities']">All Activities</button>