<div class="main-content">
    <div class="container-fluid">
       

        <div *ngFor = "let project of projects">
            <p><label>Project Id :</label>{{ project.projId }}</p>
            <p><label>Project Name :</label>{{ project.projName }}</p>
            <p><label>Planned Start Date :</label>{{ project.plannedStartDate }}</p>
            <p><label>Planned End Date :</label>{{ project.plannedEndDate }}</p>
            <p><label>Actual Start Date :</label>{{ project.actualStartDate }}</p>
            <p><label>Actual End Date :</label>{{ project.actualEndDate }}</p>
            <p><label>Description :</label>{{ project.projDesc }}</p>
            <hr/>
        </div>    

        
   </div>
</div>