<!-- <app-timesheet-details></app-timesheet-details> -->
<!-- <app-timesheet-list></app-timesheet-list> -->

<app-all-employee-leaves></app-all-employee-leaves>

<!-- <timesheet-employee-work-chart></timesheet-employee-work-chart> -->
<!-- <timesheet-employee-project-hours></timesheet-employee-project-hours> -->
<!-- <app-add-timesheet-entry></app-add-timesheet-entry> -->

<app-employee-project-works></app-employee-project-works>
<app-employeeprojectworkdetails></app-employeeprojectworkdetails>
