<div *ngIf="employee && employee.id !=0">
  <p><label><b>Employee Id :</b></label>{{ employee.id }}</p>
  <p><label><b>Employee Firstname :</b></label>{{employee.firstName }}</p>
  <p><label><b>Employee Lastname:</b></label>{{employee.lastName }}</p>
  <p><label><b>Birth Date :</b></label>{{ employee.birthDate }}</p>
  <p><label><b>Hire Date :</b></label>{{ employee.hireDate }}</p>
  <p><label><b>Contact Number :</b></label>{{ employee.contactNumber }}</p>
  <p><label><b>Account Number :</b></label>{{ employee.accountNumber }}</p>
  <p><label><b>User Id :</b></label>{{ employee.userId }}</p>


  <button type="submit" (click)="onUpdateClick(employee.id)">Update</button> 
|
  <button type="submit" (click)="delete()">Delete</button>


  <div *ngIf=" employee && employee.id==0 ">

    <p>Employee not Found</p>
  </div>

</div>