<timesheet-list (selectedTimeSheetId)="onReceiveTimeSheetId($event)"></timesheet-list>


<div class="container">
    <h2> TimeSheet Entries</h2>
    <div class="card">
        <table class="table-bordered text-center">
            <thead>
                <tr>
                    <th>Activity:</th>
                    <th>Title:</th>
                    <th>description</th>
                    <th>fromtime</th>
                    <th>toTime</th>
                </tr>
            </thead>
            <tbody *ngFor=" let entry of timeSheetEntries">
                <tr>
                    <td>{{entry.activityType}}</td>
                    <td> {{entry.title}}</td>
                    <td> {{entry.description}}</td>
                    <td> {{entry.fromTime }}</td>
                    <td> {{entry.toTime }}</td>
                </tr>
            </tbody>
        </table>
    </div>