<div class="container">
    <h2> TimeSheet Entries</h2>
    <div class="card">
        <table class="table-bordered text-center">
            <thead>
                <tr>
                    <th>Category:</th>
                    <th>Work:</th>
                    <th>Description:</th>
                    <th>fromtime</th>
                    <th>toTime</th>
                </tr>
            </thead>
            <tbody *ngFor=" let entry of timeSheetEntries">
                <tr>
                    <td>{{entry.workCategory}}</td>
                    <td> {{entry.work}}</td>
                    <td> {{entry.description}}</td>
                    <td> {{entry.fromTime }}</td>
                    <td> {{entry.toTime }}</td>
                </tr>
            </tbody>
        </table>
    </div>