<h3>Employee Leaves List</h3>
<div class="container">
    <div class="card col-6">
    <table class="table-bordered text-center">
            <thead>
                <tr>
                    <th>Application Date</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Status</th>
                    <th>LeaveType</th>
                   </tr>
            </thead>
            <tbody *ngIf="leaveDetails">
                <tr>
                    <td>{{leaveDetails.applicationDate |date}}</td>
                    <td>{{leaveDetails.fromDate |date}}</td>
                    <td>{{leaveDetails.toDate |date}}</td>
                    <td>{{leaveDetails.status}}</td>
                    <td>{{leaveDetails.leaveType}}</td>
                </tr>
            </tbody>
    </table>
</div>