<p>insert-projectteammember works Succelfull!</p>


<div *ngIf="projectMember">
    <form #insertForm="ngForm" (ngSubmit)="insertProjectMember(insertForm.value)">
       
        <p><label><b>Project Id :</b></label><input type="number" name="projectId" #projectId="ngModel" [(ngModel)]="projectMember.projectId"></p>
        <p><label><b>Employee Id :</b></label><input type="number" name="employeeId" #employeeId="ngModel" [(ngModel)]="projectMember.Employee"></p>
       
       
        <button type="submit">Insert</button>


        <div *ngIf="status">
            <p>Project Member Inserted Successfully</p>
        </div>      
 
        <div *ngIf="status == false">
            <p>Please insert valid information</p>
        </div>
    </form>
 
     


</div>