<p>register works!</p>
<!-- <div>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
              <h5 class="card-title text-center mb-5 fs-5">New Account</h5>
              <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm.value)" >
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="contactnumber"
                  name="contactnumber"
                  [(ngModel)]="credential.contactNumber"
                />
                <label >Contact Number</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="Password"
                  [(ngModel)]="credential.password"
                />
                <label for="password">Password</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  type="password"
                  class="form-control"
                  id="confirmpassword"
                  name="confirmpassword"
                  placeholder="Password"
                  [(ngModel)]="confirmPassword"
                />
                <label for="confirmpassword"> Confirm Password</label>
              </div>
  
              <div class="d-grid">
                <button class="btn btn-success fw-bold"  type="submit">Register</button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->





















   <div>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
              <h2 class="card-title text-center mb-5 fs-5">New Account</h2>
              <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm.value)">
  
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="contactnumber" name="contactnumber"
                    placeholder="Contact Number" [(ngModel)]="credential.contactNumber" />
                  <P> </P>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                    [(ngModel)]="credential.password" />
                  <P> </P>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="confirmpassword" name="confirmpassword"
                    placeholder="Confirm Password" [(ngModel)]="confirmPassword" />
                  <P> </P>
                </div>
                <div class="d-grid">
                  <button class="btn btn-success fw-bold" type="submit">Register</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>