<h2 >Members</h2>
<div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>FullName</th>
            <th>Role</th>
            <!-- <th>Assigned Date</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employees of employees">
            <td>{{employees.employeeId}}</td>
            <td>{{employees.title}}</td>
            <td>{{employees.assignedOn|date :('yyyy-MM-dd')}}</td>
          </tr>
    </tbody>
</table>

<!-- <app-employee-project-works></app-employee-project-works> -->

</div>