<div class="row justify-content-center mx-2" *ngIf="memberUtilization != undefined">
    <h3>Time Utilization - {{totalHours |hourConvertor}}</h3>
    <div class="col">
        <p>UserStory: {{memberUtilization.userStory | hourConvertor}}</p>
        <p>Task: {{memberUtilization.task | hourConvertor}}</p>
        <p>Bug: {{memberUtilization.bug | hourConvertor}}</p>
        <p>Mentoring: {{memberUtilization.mentoring | hourConvertor}}</p>
        <p>Learning: {{memberUtilization.learning | hourConvertor}}</p>
    </div>
    
    <div class="col">
        <p>Clientcall: {{memberUtilization.clientCall | hourConvertor}}</p>
        <p>Issues: {{memberUtilization.issues | hourConvertor}}</p>
        <p>Meeting: {{memberUtilization.meeting | hourConvertor}}</p>
        <p>Other: {{memberUtilization.other | hourConvertor}}</p>
        
    </div>
</div>