<div class="container">
    <p> StatDate :{{fromDate}}</p>
    <p> EndDate :{{toDate}}</p>
    <hr>
    <div>
        <label>Select Interval</label>
        <select [(ngModel)]="selectedInterval" (change)="onIntervalChange()">
            <option *ngFor="let interval of intervals" [value]="interval"> {{interval}}</option>
        </select>
    </div>
    <div *ngIf="selectedInterval=='year'">
        <ng-container *ngTemplateOutlet="yearTemplate"></ng-container>
    </div>
    <br>

    <div *ngIf="selectedInterval=='month'">
        <ng-container *ngTemplateOutlet="yearTemplate"></ng-container>
        <ng-container *ngTemplateOutlet="monthTemplate"></ng-container>
    </div>
    <br>

    <div *ngIf="selectedInterval=='week'">
        <ng-container *ngTemplateOutlet="yearTemplate"></ng-container>
        <ng-container *ngTemplateOutlet="monthTemplate"></ng-container>

        <div> <label>Select Week</label>
            <select [(ngModel)]="selectedWeek" (change)="onIntervalChange()">
                <option *ngFor="let week of weeks;let i=index" [value]="i">
                    {{week.startDate |date}} | {{week.endDate|date}}
                </option>
            </select>
        </div>

    </div>
    <br>

    <div *ngIf="selectedInterval=='custom'">
        <label> From </label>
        <input type="date" [(ngModel)]="fromDate">
        <label> To </label>
        <input class="mb-3" type="date" [(ngModel)]="toDate">
        <button (click)="onIntervalChange()"> Get </button>
        <br>
    </div>


    <div *ngIf="workCategory!=undefined">
        <table>
            <tr>
                <th>UserStory</th>
                <td>{{workCategory.userStory}}</td>
            </tr>
            <tr>
                <th>Task</th>
                <td>{{workCategory.task}}</td>
            </tr>
            <tr>
                <th>Bug</th>
                <td>{{workCategory.bug}}</td>
            </tr>
            <tr>
                <th>Mentoring</th>
                <td>{{workCategory.mentoring}}</td>
            </tr>
            <tr>
                <th>Learning</th>
                <td>{{workCategory.learning}}</td>
            </tr>
            <tr>
                <th>Clientcall</th>
                <td>{{workCategory.clientCall}}</td>
            </tr>
            <tr>
                <th>Issues</th>
                <td>{{workCategory.issues}}</td>
            </tr>
            <tr>
                <th>Meeting</th>
                <td>{{workCategory.meeting}}</td>
            </tr>
            <tr>
                <th>Other</th>
                <td>{{workCategory.other}}</td>
            </tr>
        </table>
    </div>

</div>


<ng-template #yearTemplate>

    <label>Select Year</label>
    <select [(ngModel)]="selectedYear" (change)="onIntervalChange()">
        <option *ngFor="let year of years" [value]="year"> {{year}}</option>
    </select>
</ng-template>

<ng-template #monthTemplate>

    <label>Select Month</label>
    <select [(ngModel)]="selectedMonth" (change)="onIntervalChange()">
        <option *ngFor="let month of monthNames;let i=index" [value]="i"> {{month}}</option>
    </select>
</ng-template>