<label> From </label>
<input type="date" [(ngModel)]="fromDate">
<label> To </label>
<input class="mb-3" type="date" [(ngModel)]="toDate">

<button (click)="getWorkHours()"> Get </button>
<div *ngFor="let workCategory of WorkCategories">
    <p>UserStory:{{workCategory.userStory}}</p>
    <p>Task:{{workCategory.task}}</p>
    <p>Bug:{{workCategory.bug}}</p>
    <p>Mentoring:{{workCategory.mentoring}}</p>
    <p>Monitoring:{{workCategory.monitoring}}</p>
    <p>Learning:{{workCategory.learning}}</p>
    <p>Clientcall:{{workCategory.clientcall}}</p>
    <p>Issues:{{workCategory.issues}}</p>
    <p>Meeting:{{workCategory.meeting}}</p>
</div>
