<h3>Employee Leaves List</h3>
<div class="container">
    <div class="card col-6">
    <table class="table-bordered text-center">
            <thead>
                <tr>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Status</th>
                    <th>LeaveType </th>
                   </tr>
            </thead>
            <tbody *ngFor="let employee of employees">
                <tr>
                    <td>{{employee.fromDate |date}}</td>
                    <td>{{employee.toDate |date}}</td>
                    <td>{{employee.status}}</td>
                    <td>{{employee.leaveType}}</td>
                </tr>
            </tbody>
    </table>
</div>

<!-- <a (click)="onClick()" > apply leave</a> -->
<a routerLink='/leave/pendingleave/leaveform'  >Apply Leave</a>
<router-outlet></router-outlet>