<div class="container">
    <h2> My Activities</h2>
    <a> NotStarted </a> |<a>InProgress</a> |<a> Completed</a>
    <div class="card">
        <table class="table-bordered text-center">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>AssignedBy</th>
                    <th>AssignedDate</th>
                </tr>
            </thead>
            <tbody *ngFor="let task of activity">
                <tr>
                    <td class="d-flex p-1"> <a  style="cursor: pointer;">{{task.title}}
                        </a></td>
                    <td> {{task.status}}</td>
                    <td> {{task.assignedby}}</td>
                    <td> {{task.assigndate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
