<h3> My Timesheet </h3>

<label class="d-block mb-2">Date: {{timesheet.createdOn| date}}</label>
<label class="d-block mb-2">Status: {{timesheet.status | titlecase}}</label>

<p class="mb-2"> <b>Total Hours: {{timesheet.totalHours |hourConvertor}} </b></p>
<button class="btn btn-primary mb-2" (click)="onClickAddTimeSheetEntry()">Add Entry</button>

<work-list [timesheetEntries]="timesheetEntries"></work-list>

<!-- <ng-container *ngIf="timesheet && timesheetEntries.length > 0 ">
    <button class="btn btn-success" type="submit" (click)="onSubmit()">Submit</button>
    <button class="btn btn-danger mx-1" (click)="onRemoveAllTimeSheetEntries(timesheet.id)">Clear All</button>
</ng-container> -->