<h3>Leave Allocations</h3>
<div class="container">
    <div class="card col-6">
    <table class="table-bordered text-center">
            <thead>
                <tr>
                    <th>Role</th>
                    <th>Sick</th>
                    <th>Casual</th>
                    <th>Paid</th>
                    <th>Unpaid</th>
                    <th>Financial Year</th>
                   </tr>
            </thead>
            <tbody *ngFor="let leave of roleBasedLeaves">
                <tr>
                    <td>{{leave.roleId}}</td>
                    <td>{{leave.sick}}</td>
                    <td>{{leave.casual}}</td>
                    <td>{{leave.paid}}</td>
                    <td>{{leave.unpaid}}</td>
                    <td>{{leave.financialYear}}</td>
                </tr>
            </tbody>
    </table>
</div>