<div class="container mt-4">
    <h4 class="mb-4">Details of {{ employeeDetail.name }}</h4>
    <div class="card bg-light text-dark">
      <div class="card-body">
        <!-- <h5 class="card-title">Project ID: {{ projectDetails.id }}</h5> -->
        <!-- <p class="card-text"><strong>Name:</strong></p -->
        <p class="card-text"><strong>Contact Number:</strong> {{ employeeDetail.contactnumber }}</p>
        <p class="card-text"><strong>Department:</strong> {{employeeDetail.department }}</p>
        <p class="card-text"><strong>Position:</strong> {{ employeeDetail.position }}</p>
        <p class="card-text"><strong>Team Manager:</strong> {{ employeeDetail.manager}}</p>
      </div>
    </div>
  </div>
  