<div class="container mt-4">
    <h4 class="mb-4" style="color: brown;"> Details of {{ employeeDetail.firstName }}  {{ employeeDetail.lastName }}</h4>
    <div class="card bg-light text-dark">
      <div class="card-body">
        <div class="row">
        <div class="col-md-4">
        <p> <img  [src]= "url + employeeDetail.imageUrl"  style="height: 200px; width: 200px; border-radius: 100%;"></p>
      </div>
      <div class="col-md-6">
        <p class="card-text"><strong>Contact Number:</strong> {{ employeeDetail.contactNumber }}</p>
        <p class="card-text"><strong>Email:</strong> {{ employeeDetail.email }}</p>
        <p class="card-text"><strong>Gender:</strong> {{ employeeDetail.gender }}</p>
        <p class="card-text"><strong>Department:</strong> {{ employeeInfo.department }}</p>
        <p class="card-text"><strong>Position:</strong> {{ employeeInfo.position  }}</p>
        <p class="card-text"><strong>HireDate:</strong> {{ employeeInfo.hireDate |date  }}</p>
      </div>
    </div>
      </div>
    </div>
  </div>
  