
<input type="number" [(ngModel)]="employeeId"/>
<button (click)="getEmployee(employeeId)">Search</button>

<div *ngIf="employee && employee.id !=0">
    <p><label>Employee Id :</label>{{ employee.id }}</p>
    <p><label>First Name :</label>{{ employee.firstName }}</p>
    <p><label>Last Name :</label>{{ employee.lastName }}</p>
    <p><label>Birth Date :</label>{{ employee.birthDate }}</p>
    <p><label>Hire Date :</label>{{ employee.hireDate }}</p>
    <p><label>Contact Number :</label>{{ employee.contactNumber }}</p>
    <p><label>Account Number :</label>{{ employee.accountNumber }}</p>
    <p><label>User Id :</label>{{ employee.userId }}</p>
    
    <button type="submit" (click)="deleteEmployee(employee.id)">Delete</button>

    <hr/>
  <div *ngIf=" theater && theater.id==0 ">
    <p>Theater not Found</p>
</div>
  </div>