<div class="container">
    <h2>Project Works List</h2>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div>
                    <table *ngFor="let employeework of employeeworks">
                        <tr>
                            <th>Title</th>
                            <td>{{employeework.title}}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>{{employeework.status}}</td>
                        </tr>
                        <tr>
                            <th>Assigned To</th>
                            <td>{{employeework.assignedTo}}</td>
                        </tr>
                        <tr>
                            <th>Action</th>
                            <td><a class="link-underline" [routerLink]="['details', employeework.id]">Details</a></td>
                        </tr>
                        <tr>
                            <td colspan="2"><hr></td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary">Assign Work</button>
                </div>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>
</div>
