<p><b>For inserting new Task please fill below form.</b></p>

<form #insertForm="ngForm" (ngSubmit)="addTask(insertForm.value)">
   

    <div>
        <table>
          <thead>
            <th>Project Id</th>
            <th>Title</th>
            <th>Date</th>
            <th>From Time</th>
            <th>To Time</th>
            <th>Description</th>
            <th>Add Task</th>
          </thead>
          <tbody>
            <tr>
              <td scope="row"><input type="number" name="projectid" [(ngModel)]="task.projectid"></td>
              <td><input type="text" name="title" [(ngModel)]="task.title"></td>
              <td><input type="text" name="date" [(ngModel)]="task.date"></td>
              <td><input type="text" name="fromtime" [(ngModel)]="task.fromtime"></td>
              <td><input type="text" name="totime" [(ngModel)]="task.totime"></td>
              <td><input type="text" name="description" [(ngModel)]="task.description"></td>
              <td><button type="submit">Add New Task </button></td>
            </tr>
          </tbody>
        </table>
      </div>

</form>


<div *ngIf="status">
    <p>Project Added successfully</p>
</div>

<div *ngIf="status==false">
    <p>error while updating Project</p>
</div>

