<div class="main-content">
    <div class="container-fluid">
        
        
            <div class="form-floating mb-3">

                <input type="number" [(ngModel)]="projId">
                <button class="btn" style="background-color: rgb(82, 207, 82);" (click)="getProject(projId)">Search</button>
            </div>


            
            <div *ngIf="project && project.projId !=0">
                <p><label><b>Project Id :</b></label><input type="number" name="projId" #projId="ngModel" [(ngModel)]="project.projId"></p>
                <p><label><b>Project Name :</b></label><input type="text" name="projName" #projName="ngModel" [(ngModel)]="project.projName"></p>
                <p><label><b>Planned Start Date :</b></label><input type="text" name="planedStartDate" #planedStartDate="ngModel" [(ngModel)]="project.planedStartDate"></p>
                <p><label><b>Planned End date :</b></label><input type="text" name="planedEndDate" #planedEndDate="ngModel" [(ngModel)]="project.planedEndDate"></p>
                <p><label><b>Actual Start Date :</b></label><input type="text" name="actualStartDate" #actualStartDate="ngModel" [(ngModel)]="project.actualStartDate"></p>
                <p><label><b>Actual End Date :</b></label><input type="text" name="actualEndDate" #actualEndDate="ngModel" [(ngModel)]="project.actualEndDate"></p>
                <p><label><b>Description :</b></label><input type="text" name="description" #description="ngModel" [(ngModel)]="project.description"></p>
               
   
              <button  type="submit" (click)="delete()">Delete</button>
              <button type="submit" (click)="onUpdateClick(project.projId)">Update</button> 
               <hr>
    
                <div *ngIf="project && project.projId ==0">
                    <p>Account not Fount</p>
                </div>

</div>

                     

    </div>
</div>         