<!-- <div class="container"> -->
    <h3> Timesheet Details</h3>
    <label class="d-block mb-2">Date: {{timesheet?.timesheetDate | date}}</label>
    <label class="d-block mb-2">Status: {{timesheet?.status | titlecase}}</label>
    <label class="d-block mb-2" >Employee Name: <a [routerLink]="['/profile',timesheet?.employeeId]"> {{timesheet?.employeeName}} </a></label>

    <p class="mb-2"> <b>Total Hours: {{totalminutes}} </b></p>
    <button *ngIf="isTimeSheetEditable()" class="btn btn-primary mb-2" (click)="onClickAddTimeSheetDetails()">Add Entry</button>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>From Time</th>
                <th>To Time</th>
                <th>Project Name</th>
                <th>Category</th>
                <th>Work</th>
                <th>Duration</th>
                <th *ngIf="isTimeSheetEditable()">Actions</th>
            </tr>
        </thead>
        <ng-container *ngIf="timesheet && timesheet.timeSheetDetails.length > 0">
            <tbody *ngFor="let timeSheetDetail of timesheet.timeSheetDetails">
                <tr>
                    <td>{{timeSheetDetail.fromTime}}</td>
                    <td>{{timeSheetDetail.toTime}}</td>
                    <td>{{timeSheetDetail.projectName}}</td>
                    <td>{{timeSheetDetail.workType}}</td>
                    <td>{{timeSheetDetail.workTitle}}</td>
                    <td>{{timeSheetDetail.durationInHours}}</td>
                    <td *ngIf="isTimeSheetEditable()">
                        <button class="btn btn-warning mx-2 my-2 " [routerLink]="['../../update', timeSheetDetail.id]">Edit</button>
                        <button class="btn btn-danger" (click)="onRemoveTimeSheetDetails(timeSheetDetail.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </ng-container>
    </table>


    <ng-container *ngIf="timesheet && timesheet.timeSheetDetails.length > 0 && isTimeSheetEditable()">
        <button class="btn btn-success" type="submit" (click)="onSubmit()">Submit</button>
        <button class="btn btn-danger mx-1" (click)="onRemoveAllTimeSheetDetails(timesheet.id)">Clear All</button>
    </ng-container>
<!-- </div> -->
