
<form #insertForm="ngForm" (ngSubmit)="updateTask(insertForm.value)">
   
    <div>
        <table>
          <thead>
            <th>Task Id </th>
            <th>Project Id</th>
            <th>Title</th>
            <th>Date</th>
            <th>From Time</th>
            <th>To Time</th>
            <th>Description</th>
            <th>Update</th>
          </thead>
          <tbody>
            <tr>
              <td scope="row"><input type="timesheetId" name="id" [(ngModel)]="task.id"></td>
              <td><input type="number" name="projectId" [(ngModel)]="task.projectId"></td>
              <td><input type="text" name="title" [(ngModel)]="task.title"></td>
              <td><input type="text" name="date" [(ngModel)]="task.date"></td>
              <td><input type="text" name="fromTime" [(ngModel)]="task.fromTime"></td>
              <td><input type="text" name="toTime" [(ngModel)]="task.toTime"></td>
              <td><input type="text" name="description" [(ngModel)]="task.description"></td>
              <td> <button type="submit">Update</button></td>
            </tr>
          </tbody>
        </table>
      </div>

</form>


<div *ngIf="status">
    <p>Task Added successfully</p>
</div>

<div *ngIf="status==false">
    <p>error while updating Task</p>
</div>

