<div class="container">
  <div class="navbar">
    <a class="btn btn-outline-success" (click)="filterProjects('All')"
    [ngClass]="{'btn-success active-button':activeFilter === 'All'}">All Projects</a>
    <a class="btn btn-outline-success" (click)="filterProjects('In-Progress')"
    [ngClass]="{'btn-success active-button':activeFilter === 'In-Progress'}"><i class="fas fa-spinner" style="color: #007bff;"></i>&nbsp;In Progress</a>
    <a class="btn btn-outline-success" (click)="filterProjects('Pending')"
    [ngClass]="{'btn-success active-button':activeFilter === 'Pending'}"><i class="fas fa-clock" style="color: #ffc107;"></i>&nbsp;Pending</a>
    <a class="btn btn-outline-success" (click)="filterProjects('Completed')"
    [ngClass]="{'btn-success active-button':activeFilter === 'Completed'}"><i class="fas fa-check-circle" style="color: #28a745;">&nbsp;</i>Completed</a>
    <a class="btn btn-outline-success" (click)="filterProjects('Canceled')"
    [ngClass]="{'btn-success active-button':activeFilter === 'Canceled'}"><i class="fas fa-times" style="color: #f70303;"></i>&nbsp;Canceled</a>
  </div>
  <div class="active-filter-line"></div>