<ng-template #insertTimesheetEnrty>
    <app-insert-time-sheet-entry *ngIf="timesheet" [timesheetId]="timesheet.id"
        (stateChangeEvent)="onAddStateChange($event)"></app-insert-time-sheet-entry>
</ng-template>

<ng-template #updateTimeSheetDetails>
    <app-update-timesheet-entry *ngIf="selectedTimeSheetDetailstoUpdate"
        [timesheetDetails]="selectedTimeSheetDetailstoUpdate"
        (stateChangeEvent)="onUpdateStateChange($event)"></app-update-timesheet-entry>
</ng-template>


<app-popup *ngIf="showaddTimeSheetDetails" [templateToRender]="insertTimesheetEnrty"
    (closePopup)="onCloseAddPopup()"></app-popup>

<app-popup *ngIf="showupdateTimeSheetDetails" [templateToRender]="updateTimeSheetDetails"
    (closePopup)="onCloseUpdatePopup()"></app-popup>

    <div *ngIf="isTimeSheetCreated==false && date<=toDaysdate ">
        <p> Date : {{date|date}}</p>
        <button  (click)="CreateTimesheet()">Create Timesheet</button>
    </div>


<ng-container *ngIf="isTimeSheetCreated">
    <p> Date : {{timesheet?.timesheetDate |date}}</p>
    <p> Status:{{timesheet?.status |titlecase}}</p>
    <p> Employee Name:{{timesheet?.employeeName}}</p>
    <button *ngIf="isTimeSheetEditable()" (click)="onClickAddTimeSheetDetails()"> Add </button>

    <table class="table-bordered" >
        <thead>
            <tr>
                <th>fromtime</th>
                <th>toTime</th>
                <th>ProjectName</th>
                <th>Category:</th>
                <th>Work:</th>
                <!-- <th>Description:</th> -->
                <th>Duration</th>
            </tr>
        </thead>
        <ng-container *ngIf=" timesheet && timesheet.timeSheetDetails.length>0">
            <tbody *ngFor="let timeSheetDetail of timesheet.timeSheetDetails">
                <tr>
                    <td> {{timeSheetDetail.fromTime }}</td>
                    <td> {{timeSheetDetail.toTime }}</td>
                    <td> {{timeSheetDetail.projectName }}</td>
                    <td>{{timeSheetDetail.workType}}</td>
                    <td> {{timeSheetDetail.workTitle}}</td>
                    <!-- <td> {{timeSheetDetail.description}}</td> -->
                    <td> {{timeSheetDetail.durationInHours }}</td>
                    <td  *ngIf="isTimeSheetEditable()"><button  [routerLink]="['/timesheet/view/update',timeSheetDetail.id,'date',timesheet.timesheetDate.slice(0,10)]" >Edit</button></td>
                    <!-- <td  *ngIf="isTimeSheetEditable()"><button  (click)="onClickUpdateTimeSheetDetails(timesheetDetails)">Edit</button></td> -->
                    <td  *ngIf="isTimeSheetEditable()"><button (click)="onRemoveTimeSheetDetails(timeSheetDetail.id)">Delete</button></td>
                </tr>

            </tbody>
        </ng-container>

    </table>

    <p>Total Hours : {{totalminutes}}</p>
    <ng-container *ngIf=" timesheet && timesheet.timeSheetDetails.length>0">
    <button type="submit"  *ngIf="isTimeSheetEditable()" (click)="onSubmit()"> submit </button>
    <button class="mx-1" *ngIf="isTimeSheetEditable() && timesheet" (click)="onRemoveAllTimeSheetDetails(timesheet.id)">
        ClearAll </button>
        </ng-container>
</ng-container>