<!-- <div class="d-flex  justify-content-lg-start  bg-secondary-subtle mt-2">
    <div class="p-2">Link 1 </div>
    <div class="p-2" >Link 2 </div>
    <div class="p-2" >Link 3</div>
</div>
<div>
    <router-outlet></router-outlet>
</div> -->

<div class="d-flex  justify-content-start  bg-secondary-subtle mt-2">

    <a class="p-2" *ngFor="let leavelink of leaveMenuRoutes" [routerLink]="[leavelink.Url]" routerLinkActive="highlighted">
        {{leavelink.displayName}}</a>
</div>

<div>
    <router-outlet></router-outlet>
</div>