
    <div>
        <div *ngIf="project && project.id !=0">
          <table>
            <thead>
              <th>Project Id </th>
              <th>Project Title </th>
              <th>Start Date</th>
              <th>End Date </th>
              <th>Description </th>
              <th>Status</th>
              <th>Details</th>
            </thead>
            <tbody>
                <tr *ngIf="project">
                  <td scope="row">{{ project.id }}</td>
                  <td>{{ project.title }}</td>
                  <td>{{ project.startDate }}</td>
                  <td> {{ project.endDate }} </td>
                  <td> {{ project.description }}</td>
                  <td>{{project.status}}</td>
                  <td><button type="submit" (click)="onUpdateClick(project.id)">Update</button> 
                    |
                    <button type="submit" (click)="delete()">Delete</button>
                  </td>
                  <div *ngIf=" project && project.id==0 ">
                    <p>Project not Found</p>
                  </div>
                </tr>
              </tbody>
            </table>
            <div *ngIf=" project && project.id==0 ">
                <p>Project not Found</p>
              </div>
          </div>
        
        </div>











