


<div *ngIf="project && project.id !=0">
    <p><label><b>Project Id :</b></label>{{ project.id }}</p>
    <p><label><b>Project Title :</b></label>{{ project.title }}</p>
    <p><label><b>Start Date :</b></label>{{ project.startDate }}</p>
    <p><label><b>End Date :</b></label>{{ project.endDate }}</p>
    <p><label><b>Description :</b></label>{{ project.description }}</p>
    <p><label><b>Status :</b></label>{{project.status}}</p>

<button type="submit" (click)="onUpdateClick(project.id)">Update</button> 
|
<button type="submit" (click)="delete()">Delete</button>


    <div *ngIf=" project && project.id==0 ">
        <p>Project not Found</p>
      </div>
</div>