<div class="row">
  <div class="card border-0 shadow rounded-3 my-2">
    <div class="card-body p-4 p-sm-5">
      <h5 class="card-title text-center mb-5 fs-5">Set New Password</h5>

      <form [formGroup]="changePasswordForm">

        <div class="form-floating mb-2 input-group">
          <input [type]="showOldPassword ? 'text' : 'password'" formControlName="oldPassword" class="form-control "
            placeholder="oldPassword"
            [class.is-invalid]="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)">
          <label for="oldPassword" class="form-label">Old Password</label>
          <button type="button" class="btn btn-outline-secondary" (click)="showOldPassword = !showOldPassword">
            <i class="bi" [ngClass]="{'bi-eye': !showOldPassword, 'bi-eye-slash-fill': showOldPassword}"></i>
          </button>
          <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)" class="invalid-feedback">
            <div *ngIf="oldPassword.errors?.['required']">
              This field is required.
            </div>
            <div *ngIf="oldPassword.errors?.['minlength']">
              password must have at least 8 characters.
            </div>
            <div *ngIf="oldPassword.errors?.['maxlength']">
              Maximum 25 characters are allowed for this field .
            </div>
          </div>
        </div>

        <div class="form-floating mb-2 input-group">
          <input [type]="showNewPassword ? 'text' : 'password'" formControlName="newPassword" class="form-control "
            placeholder="newPassword"
            [class.is-invalid]="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
          <label for="newPassword" class="form-label">New Password</label>
          <button type="button" class="btn btn-outline-secondary" (click)="showNewPassword = !showNewPassword">
            <i class="bi" [ngClass]="{'bi-eye': !showNewPassword, 'bi-eye-slash-fill': showNewPassword}"></i>
          </button>
          <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="invalid-feedback">
            <div *ngIf="newPassword.errors?.['required']">
              This field is required.
            </div>
            <div *ngIf="newPassword.errors?.['minlength']">
              password must have at least 8 characters.
            </div>
            <div *ngIf="newPassword.errors?.['maxlength']">
              Maximum 25 characters are allowed for this field .
            </div>
          </div>
        </div>

        <div class="form-floating mb-2 input-group">
          <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword"
            class="form-control " placeholder="ConfirmPassword"
            [class.is-invalid]="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
          <label for="confirmPassword" class="form-label">Confirm Password</label>
          <button type="button" class="btn btn-outline-secondary" (click)="showConfirmPassword = !showConfirmPassword">
            <i class="bi" [ngClass]="{'bi-eye': !showConfirmPassword, 'bi-eye-slash-fill': showConfirmPassword}"></i>
          </button>
          <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
            class="invalid-feedback">
            <div *ngIf="confirmPassword.errors?.['required']">
              This field is required.
            </div>
            <div *ngIf="confirmPassword.errors?.['maxlength']">
              Maximum 25 characters are allowed for this field .
            </div>
          </div>
        </div>
        <div
          *ngIf="!newPassword.errors?.['minlength'] && confirmPassword.dirty && changePasswordForm.hasError('PasswordNoMatch')"
          class="text-danger">Passwords do not match.
        </div>

        <div *ngIf="isInvalidCredentails"  class="text-danger">
          Invalid Credentials Please check again
        </div>

        <div class="d-flex justify-content-between">
          <button class="btn btn-success fw-bold" style="color: inherit; text-decoration:none;display: block;"
            type="submit" (click)="onUpdatePassword()"> Submit </button>
          <button (click)="onCancelClick()" class="btn btn-danger fw-bold"
            style="color: inherit; text-decoration:none;display: block;" type="reset"> Cancel </button>
        </div>
      </form>
    </div>
  </div>
</div>