
<a [routerLink]="['login']">Log In</a>
<span> </span> 
<a [routerLink]="['register']">Register</a>
<span> </span>
<a [routerLink]="['/']">Home</a> 
<a [routerLink]="['home']">Home</a> 
<a [routerLink]="['/home']">Home</a> 
<!-- <a [routerLink]="['/timesheetlist']">Employee View</a> -->
<!-- <a [routerLink]="['/managesaccess']">Manager View</a> -->


<li><a routerLink="/app/default/home" routerLinkActive="router-link-active">Home</a></li>
      <li><a routerLink="app/default/about" routerLinkActive="router-link-active">About</a></li>
<router-outlet></router-outlet>

