
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fs-5">Set New contactNumber</h5>

            <form #updatePasswordForm="ngForm" (ngSubmit)="onUpdateContact(updatePasswordForm.value)">
                <div class="form-floating mb-3">
                    <input
                    type="text"
                    class="form-control"
                    id="contactnumber"
                    name="contactnumber"
                    placeholder="Contact Number"
                    [(ngModel)]="credential.oldContactNumber"
                    />
                    <label > Old Contact Number</label>
                  </div>
            <div class="form-floating mb-3">
                <input
                type="text"
                class="form-control"
                id="newcontactnumber"
                name="newcontactnumber"
                placeholder="New Contact Number"
                [(ngModel)]="credential.newContactNumber"
                />
                <label for="newcontact">  New Contact Number</label>
            </div>
            <div class="form-floating mb-3">
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password" 
                 placeholder="Password"
                  [(ngModel)]="credential.password"
                />
                <label for="newpassword"> Password</label>
              </div>
           
            <div class="d-grid">
              <button class="btn btn-success fw-bold" style="color: inherit; text-decoration:none;display: block;" type="submit">
              Submit
              </button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>