


<!-- <div class="row">
    <div class="d-flex justify-content-start ">
        <div class="card m-3" *ngFor="let timesheet of timeSheets">
            <div class="p-2" (click)="onSelectedTimeSheetId(timesheet.id)">
                <p> Date :{{timesheet.date | date}}</p>
                <p> Status :{{timesheet.status}}</p>
               
            </div>
        </div>
    </div>
</div>
 -->

 <div class="container">
    <h2> UserStories List</h2>
    <div class="card">
        <table class="table-bordered text-center">
            <thead>
                <tr>
                    <th>title</th>
                    <th>description</th>
                </tr>
            </thead>
            <tbody *ngFor="let userstory of userstory">
                <tr>
                    <a href="#"><td >{{userstory.title}}</td></a>
                    <td> {{userstory.description}}</td>
                    
                </tr>
            </tbody>
        </table>
    </div>



