<div>

    <h2> Employee Timesheets </h2>
    <div class="mb-2 ">
        <label>Interval</label>
        <select class="mx-2 form-control-sm" [(ngModel)]="selectedInterval" (change)="onIntervalChange()">
            <option *ngFor="let interval of intervals" [value]="interval"> {{interval}}</option>
        </select>
        <label >Status</label>
        <select class="mx-2 form-control-sm" [(ngModel)]="selectedStatus" (change)="onIntervalChange()">
            <option *ngFor="let status of timesheetStatus" [value]="status"> {{status}}</option>
        </select>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Date</th>
                <th>Employee Name </th>
                <th>hours</th>
                <th>Details</th>
                <th *ngIf="selectedStatus==TimesheetStatus.submitted">Actions</th>
            </tr>
        </thead>
        <tbody *ngFor="let timesheet of timeSheets">
            <tr>
                <td> {{timesheet.timesheetDate | date:'dd-MM-yyy'}}</td>
                <td> {{timesheet.employeeName}}</td>
                <td> {{timesheet.hours |hourConvertor}}</td>
                <td><a [routerLink]="['../details',timesheet.id]"> Details</a></td>

                <td *ngIf="!isTimesheetApproved(timesheet)">
                    <button class="btn btn-warning mx-2 my-2 " (click)="onChangeStatusbuttonclick(timesheet,TimesheetStatus.approved)" >Approve</button>
                    <button class="btn btn-danger" (click)="onChangeStatusbuttonclick(timesheet,TimesheetStatus.rejected)">Reject</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>