<nav class="navbar navbar-expand-lg navbar-light bg-secondary-subtle">
    <a class="navbar-brand"  [routerLink]="['home']">TFLPortal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex flex-row-reverse">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link"  [routerLink]="['home']">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Notifications</a>
            </li>
            <li class="nav-item">
                <a *ngIf="isLoggedIn==false" class="nav-link" [routerLink]="['/auth/login']">Login</a>
                <a *ngIf="isLoggedIn" class="nav-link"> welcome {{userName}}</a>
            </li>
            <li class="nav-item">
                <a *ngIf="isLoggedIn" class="nav-link" [routerLink]="['home']" (click)="onClickLogOut()"> LogOut
                </a>
            </li>
        </ul>   
    </div>
</nav>

    <app-left-sidebar *ngIf="showsidebar"></app-left-sidebar>


<div *ngIf="!showsidebar">
    <router-outlet></router-outlet>
</div>