<div class="card">
                <div *ngIf="appliedLeaves">
                <div class="container-fluid">
                    <div class="row">
                    <div class="col-xl ">{{appliedLeaves.employeeId }}</div>
                    <div class="col-xl ">{{appliedLeaves.leaveType}}</div>
                    <div class="col-xl ">{{appliedLeaves.fromDate|date: 'MM/dd/yyyy'}}-{{appliedLeaves.toDate|date: 'MM/dd/yyyy' }}</div>
                    </div>
                    </div>
                    </div>    
    </div>
