<form [formGroup]="assignemployeeform" (ngSubmit)="onSubmit()">
    <div>
        <label for="projectRole">Role</label>
        <input type="text" id="projectRole" name="projectRole" formControlName="projectRole">
      </div>
      <select name="projectId" id="projectId" (change)="onChange($event)" formControlName="projectId" >
        <option *ngFor="let project of projects" [value]="project.id">{{project.title}}</option>
      </select>
      <div>EmployeeName:{{Name}}</div>
      <div>
        <button type="submit">Submit</button>
      </div>
</form>