.scrollable-list {
    max-height: 400px; 
    overflow-y: auto;
}
.hover-link {
    text-decoration: none; 
    /* color: blue;  */
    cursor: pointer; 
}
.hover-link:hover {
    text-decoration: underline; 
    color: blue;
}