<!-- <app-timesheet-details></app-timesheet-details> -->
<!-- <app-timesheet-list></app-timesheet-list> -->
<!-- <timesheet-employee-project-hours></timesheet-employee-project-hours> -->
<!-- <app-add-timesheet-entry></app-add-timesheet-entry> -->
<!-- <app-update-timesheet-entry></app-update-timesheet-entry> -->
<!-- <app-login></app-login>
<router-outlet></router-outlet> -->
<!-- <app-home></app-home> -->
<!-- <user-profile></user-profile> -->
<!-- <new-user></new-user> -->
<!-- <change-password></change-password> -->
<!-- <users-list></users-list> -->
<!-- <new-user></new-user> -->
<!-- <change-password></change-password> -->
<!-- <new-role></new-role> -->
<!-- <update-contact-number></update-contact-number>  -->

<!-- <app-montlyworkutilization></app-montlyworkutilization> -->

<!-- <app-all-employee-leaves></app-all-employee-leaves> -->
<!-- <employee-project></employee-project> -->

<!-- <mytimesheet></mytimesheet>  -->
<!-- <week-timesheet-list [employeeId]="10" [fromDate]="'2024-01-10'" [toDate]="'2024-01-10'"></week-timesheet-list> -->

<app-all-employee-leaves></app-all-employee-leaves>