
<!-- <layout-main></layout-main>
<spa-container></spa-container> -->
<!-- <app-timesheet-details></app-timesheet-details> -->
<!-- <app-timesheet-list></app-timesheet-list> -->
<!-- <timesheet-employee-project-hours></timesheet-employee-project-hours> -->
<!-- <app-add-timesheet-entry></app-add-timesheet-entry> -->
<!-- <app-update-timesheet-entry></app-update-timesheet-entry> -->
<!-- <app-login></app-login> -->

<!-- <app-home></app-home> -->
<!-- <user-profile></user-profile> -->
<!-- <new-user></new-user> -->
<!-- <change-password></change-password> -->
<!-- <users-list></users-list> -->
<!-- <new-user></new-user> -->
<!-- <change-password></change-password> -->
<!-- <new-role></new-role> -->
<!-- <update-contact-number></update-contact-number>  -->

<!-- <task-work-utilization></task-work-utilization> -->
<!-- <todays-leave-applications></todays-leave-applications> -->

<!-- <employee-project></employee-project> -->
<!-- <employee-project-works></employee-project-works> -->
<!-- <project-work-list></project-work-list>
<project-work-item></project-work-item> -->
<!-- <sprint-activity-list></sprint-activity-list> -->
<!-- <app-sprint-list></app-sprint-list> -->
<!-- <sprint-details></sprint-details> -->
<!-- <app-members-list></app-members-list> -->
 


<!-- <total-leave></total-leave> -->
 
<!-- <timesheet-entry-detail></timesheet-entry-detail> -->
<!-- <day-timesheet></day-timesheet>  -->
<!-- <week-timesheet-list [employeeId]="10" [fromDate]="'2024-01-04'" [toDate]="'2024-01-10'"></week-timesheet-list> -->
<!-- <new-day-timesheet></new-day-timesheet> -->


<!-- <employee-available-leaves></employee-available-leaves> -->
<!-- <leave-applications></leave-applications> -->
 
<!-- <layout-main></layout-main> -->
<!-- <spa-container></spa-container> -->
<!-- <in-out-time-recorder></in-out-time-recorder> -->

<!-- <sprint-activity-list></sprint-activity-list> -->
<!-- <sprint-list></sprint-list> -->
<!-- <project-members></project-members> -->
<!-- <project-member></project-member> -->
<!-- <user-profile></user-profile> -->
<!-- <app-project-board></app-project-board> -->

<!-- <project-backlog></project-backlog> -->
<!-- <app-pagination></app-pagination> -->
<!-- <pay-slip-list></pay-slip-list> -->
<!-- <pay-slip-details></pay-slip-details> -->
<!-- <pay-package></pay-package> -->

<employee-container></employee-container>