<p> Project Task Utilization</p>
<hr/>


<div class="container mt-5">
    <div class="row">
      <div class="col-sm-3">
        <h3>Employee Work Utilization</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
      <div class="col-sm-6">
        <canvas  id="canvas"  >{{ chart }}</canvas>
      </div>
      <div class="col-sm-3">
        <h3>Annoucements</h3>
        <p>OOOOOOOOOOOOOOOOOOOOOOOOOOOOO</p>
        <p>PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP</p>
      </div>

    </div>
    
  </div>

   