<div class="container">
    <h2> TimeSheet Entries</h2>
    <div class="card">
        <table class="table-bordered text-center">
            <thead>
                <tr>
                    <th>fromtime</th>
                    <th>toTime</th>
                    <th>ProjectName</th>
                    <th>Category:</th>
                    <th>Work:</th>
                    <th>Description:</th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody *ngFor=" let timeSheetDetail of timeSheetDetails">
                <tr>
                    <td> {{timeSheetDetail.fromTime }}</td>
                    <td> {{timeSheetDetail.toTime }}</td>
                    <td> {{timeSheetDetail.projectName }}</td>
                    <td>{{timeSheetDetail.workCategory}}</td>
                    <td> {{timeSheetDetail.work}}</td>
                    <td> {{timeSheetDetail.description}}</td>
                    <td> {{timeSheetDetail.durationInHours }}</td>
                </tr>
            </tbody>
        </table>
    </div>

<p>Total Hours : {{totalminutes}}</p>
