<div class="container">
    <span>Sprint Works</span>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="static ...">
                    <div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Status</th>
                                    <th>Assigned To</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let employeework of empployeeWorks">
                                    <td>{{employeework.title}}</td>
                                    <td>{{employeework.status}}</td>
                                    <td>{{employeework.assignedTo}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
