<ng-container *ngIf="timesheetDetails">
    <h2> Update TimesheetEntry</h2>
    <select [(ngModel)]="selectedProjectId" (change)="getWorks()">
        <option *ngFor="let project of projects;" [value]="project.id">{{project.title|titlecase}}</option>
    </select><br>
    <label>Work:</label>
    <select style="width: 200px;" [(ngModel)]="timesheetDetails.employeeWorkId">
        <option *ngFor="let work of employeeWorks;let i=index" [value]="work.id">{{work.title.slice(0,50)|titlecase}}
        </option>
    </select><br>

    <label>From :</label>
    <input type="time" name="fromTime" [(ngModel)]="timesheetDetails.fromTime" (change)="getDuration(timesheetDetails)">
    <label>TO:</label>
    <input type="time" name="toTime" [(ngModel)]="timesheetDetails.toTime" (change)="getDuration(timesheetDetails)">
    <br />
    <br />


    <p>duration:{{timesheetDetails.durationInHours}}</p>
    <br>
    <button type="submit" (click)="onClick()">Update</button>
    <button type="submit" class="mx-2" (click)="onCancelClick()">Cancel</button>
</ng-container>