<ng-container *ngIf="timesheetDetails">
    <h2>Update Timesheet Entry</h2>

        <label>Project:</label>
        <select class="form-control" [(ngModel)]="selectedProjectId" (change)="getWorks()">
            <option *ngFor="let project of projects;" [value]="project.id">{{project.title | titlecase}}</option>
        </select>

        <label>Work:</label>
        <select class="form-control" [(ngModel)]="timesheetDetails.employeeWorkId">
            <option *ngFor="let work of employeeWorks; let i = index" [value]="work.id">
                {{work.title| titlecase}}
            </option>
        </select>

        <label>From:</label>
        <input type="time" class="form-control  d-flex flex-row-reverse gap-4 justify-content-start" name="fromTime" [(ngModel)]="timesheetDetails.fromTime" (change)="getDuration(timesheetDetails)">

        <label>To:</label>
        <input type="time" class="form-control  d-flex flex-row-reverse gap-4 justify-content-start" name="toTime" [(ngModel)]="timesheetDetails.toTime" (change)="getDuration(timesheetDetails)">

    <p>Duration: {{timesheetDetails.durationInHours}}</p>

        <button class="btn btn-success" type="submit" (click)="onClick()">Update</button>
        <button class="btn btn-danger mx-2" type="submit" (click)="onCancelClick()">Cancel</button>
</ng-container>
