<ng-container *ngIf="timesheetDetails">
<h2> Update TimeSheetEntry</h2>
<label>Project:</label>
<select [(ngModel)]="timesheetDetails.projectId">
    <option *ngFor="let project of projects;" [value]="project.id">{{project.title|titlecase}}</option>
</select><br>
<label>Activity:</label>
<select [(ngModel)]="timesheetDetails.workCategory">
    <option *ngFor="let activity of activitiyTypes;let i=index" [value]="activity">{{activity |titlecase}}</option>
</select><br>
<label>Title:</label>
<input type="text" [(ngModel)]="timesheetDetails.work"> <br /><br>

<label>Description:</label>
<textarea name="" id="" cols="30" rows="1" [(ngModel)]="timesheetDetails.description"></textarea><br>
<label>From :</label>
<input type="time" name="fromTime" [(ngModel)]="timesheetDetails.fromTime" (change)="getDuration(timesheetDetails)">
<label>TO:</label>
<input type="time" name="toTime" [(ngModel)]="timesheetDetails.toTime" (change)="getDuration(timesheetDetails)"> <br />
<br />


<p>duration:{{timesheetDetails.durationInHours}}</p>
<br>
<button type="submit" (click)="onClick()">Update</button>
<button type="submit" class="mx-2" (click)="onCancelClick()">Cancel</button>
</ng-container>