<div class="card mb-4" style="height: 600px;">
    <br>
 <h4>&nbsp;&nbsp;Total project tasks</h4>
 <br>
 <br>
 <br>

 <br>
    <div class="container mt-4">
      <div style="height: 300px;">
        <canvas
          baseChart
          class="chart"
          [datasets]="barChartData.datasets"
          [labels]="barChartData.labels"  
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [type]="barChartType"
        ></canvas>
      </div>
    </div>
  </div>

  