<p>updateaccount works!</p>

<app-getaccount [accountId]="accountId" (sendAccount)="receiveAccount($event)"></app-getaccount>

<div  *ngIf="account && account.accountId !=0">
  <table>

 
      <tr>
          <td><label>Account number :</label></td>
          <td><input type="text" name="accountNumber" #accountNumber="ngModel" [(ngModel)]="account.accountNumber"></td>
      </tr>
      <tr>
        <td><label>IFSC Code :</label></td>
        <td><input type="text" name="ifscCode" #ifscCode="ngModel" [(ngModel)]="account.ifscCode"></td>
    </tr>
    <tr>
        <td><label>Register Date :</label></td>
        <td><input type="text" name="registerDate" #registerDate="ngModel" [(ngModel)]="account.registerDate"></td>
    </tr>
    <tr>
        <td><label>Balance :</label></td>
        <td><input type="text" name="balance" #balance="ngModel" [(ngModel)]="account.balance"></td>
    </tr>
    

      <tr>
          <button (click)="updateAccount()">Update</button>
      </tr>
  </table>   
  </div>
