#employeeList {
    max-height: 400px;
    overflow-y: auto;
    border: none;
    background: #f7f7f7;
  }
  
  .list-group-item {
    background: #f2f2f2;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    color: #333;
  }
  
  .employee-info {
    flex: 1;
  }
  
  .circular-bar {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
  }
  
  .circle-progress1,
  .circle-progress2 {
    width: 80px;
    height: 80px;
    background-color: transparent;
    border-radius: 50%;
    position: relative;
  }
  
  .progress1,
  .progress2 {
    width: 50%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  
  .bar1,
  .bar2 {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 50%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  
  