<div class="container">
    <div class="btn-group">
      <a class="btn btn-outline-success"  (click)="filterTasks('All')">All Tasks</a>
      <a class="btn btn-outline-success"  (click)="filterTasks('In-Progress')"><i class="fas fa-spinner" style="color: #007bff;"></i>&nbsp;In Progress</a>
      <a class="btn btn-outline-success"  (click)="filterTasks('Pending')"><i class="fas fa-clock" style="color: #ffc107;"></i>&nbsp;Pending</a>
      <a class="btn btn-outline-success"  (click)="filterTasks('Completed')"><i class="fas fa-check-circle" style="color: #28a745;"></i>&nbsp;Completed</a>
    </div>
    <div class="active-filter-line"></div>