
<input type="number" [(ngModel)]="projectId"/>
<button (click)="getProject(projectId)">Search</button>

<div *ngIf="project && project.id !=0">
    <p><label>Project Id :</label>{{ project.id }}</p>
    <p><label>Project Title :</label>{{ project.title }}</p>
    <p><label>Start Date :</label>{{ project.startDate }}</p>
    <p><label>End Date :</label>{{ project.endDate }}</p>
    <p><label>Description :</label>{{ project.description }}</p>
      
    <button type="submit" (click)="deleteProject(project.id)">Delete</button>
    <hr/>
  <div *ngIf=" project && project.id==0 ">
    <p>Project not Found</p>
  </div>
</div>