
<input type="number" [(ngModel)]="projectId"/>
<button (click)="getProject(projectId)">Search</button>

<div *ngIf="project && project.projId !=0">
    <p><label>Project Id :</label>{{ project.projId }}</p>
    <p><label>Project Name :</label>{{ project.projName }}</p>
    <p><label>Start Date :</label>{{ project.startDate }}</p>
    <p><label>End Date :</label>{{ project.endDate }}</p>
    <p><label>Description :</label>{{ project.description }}</p>
    <p><label>Description :</label>{{ project.teamId }}</p>
      
    <button type="submit" (click)="deleteProject(project.projId)">Delete</button>
    <hr/>
  <div *ngIf=" project && project.projId==0 ">
    <p>Project not Found</p>
  </div>
</div>