<div class="row">
    <div class="row">
        <div class="col-md-6">

            <app-work-duration></app-work-duration>
        </div>
        <div class="col-md-6">
            <!-- <app-work-duration></app-work-duration> -->

        </div>

        <div class="row">
            <div class="col-md-6">
                <timesheet-list (selectedTimeSheetId)="onReceiveTimeSheetId($event)"></timesheet-list>
            </div>
            <div class="col-md-6" *ngIf="timeSheetId">
                <timesheet-details [timeSheetId]="timeSheetId"></timesheet-details>
            </div>
        </div>
    </div>