<div class="row h-100">
    <div class="col-sm-1  ">
        <ng-container *ngIf="role!=undefined">
    <div *ngIf="role==Role.Employee">
        <div highlight class="p-2" *ngFor="let employeelink of EmployeeRoutes" (click)="onClick(employeelink.Url)"> {{employeelink.displayName}}</div>
    </div>

    <div *ngIf="role==Role.HRManager">
        <div   class="p-2" *ngFor="let managerlink of HRManagerRoutes" (click)="onClick(managerlink.Url)"> {{managerlink.displayName}}</div>
    </div>

    <div *ngIf="role==Role.Director">

        <div class="p-2" *ngFor="let directorlink of DirectorRoutes"  (click)="onDirectorClick(directorlink.Url)">{{directorlink.displayName}}</div>

    </div></ng-container>
</div>




    <div class="col-11">
        <router-outlet></router-outlet>
    </div>
</div>