<!-- <app-insert></app-insert> -->
<!-- <app-all-projects-list></app-all-projects-list> -->
<app-calender></app-calender>
    
<!-- <app-calender></app-calender> -->
<!-- <project-list (selectedProjectId)="onReceiveProjectId($event)"></project-list>
<div class="card">
    <div *ngIf="project" class="row">
        <div class="col-6">
            <project-details [project]="project"></project-details>
        </div>
        <div class="col-6">
            <projectmember-list [projectId]="project.id"> </projectmember-list>
        </div>
    </div>
</div>
<div class="card" *ngIf="project">
    <div class="row">
        <div class="col-6">
            <task-list [projectId]="project.id" (selectedTaskId)="onReceiveTaskId($event)"></task-list>
        </div>
        <div class="col-6" *ngIf="taskId">
            <task-details [taskId]="taskId"></task-details>
        </div>
    </div>
</div> -->

<!-- <timesheet-details></timesheet-details> -->

<!-- <app-insert-time-sheet-entry></app-insert-time-sheet-entry> -->