
<form [formGroup]="salaryStructureForm" (ngSubmit)="onSubmit()">
    <div>
        <label hidden for="employeeId">Employee Id:</label>
        <input type="number" id="employeeId" name="employeeId" type="hidden">
      </div>
    <div>
        <label  for="basicSalary">Basic Salary:</label>
        <input type="number" id="basicSalary" name="basicSalary" formControlName="basicSalary">
    </div>
    <br>
    <div>
        <label  for="hra">HRA:</label>
        <input type="number" id="hra" name="hra" formControlName="hra">
      </div>
      <br>
  <div>
      <label  for="da">DA:</label>
      <input type="number" id="da" name="da" formControlName="da">
    </div>
    <br>
    <div>
        <label  for="lta">LTA:</label>
        <input type="number" id="lta" name="lta" formControlName="lta">
      </div>
      <br>
      <div>
        <label  for="variablePay">Variable Pay:</label>
        <input type="number" id="variablePay" name="variablePay" formControlName="variablePay">
      </div>
      <br>

      <div>
        <button type="submit">Submit</button>
      </div>
  </form>