


<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="container">
                <div class="card" *ngIf="project">
                    <div class="card-body">
                          <h2>Project Details</h2>
                        <table class="table table-bordered">
                            <tr>
                                <th>Project Name</th>
                                <td><a>{{project.title}}</a></td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>{{project.description}}</td>
                            </tr>
                            <tr>
                                <th>Status:</th>
                                <td>{{project.status}}</td>
                            </tr>
                            <tr>
                                <th>StartDate</th>
                                <td>{{project.startDate | date}}</td>
                            </tr>
                            <tr>
                                <th>EndDate</th>
                                <td>{{project.endDate | date}}</td>
                            </tr>
                        </table>
                        <app-members-list [projectId]="project.id"></app-members-list>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <app-project-work-chart></app-project-work-chart>
        </div>
    </div>
</div>


       <div >
            <a class="link-underline" [routerLink]="['showdetails', project?.id]">Show Employees Work</a>
        </div>
    
    <router-outlet></router-outlet>

