<div class="container">
    <h2> My Project Details</h2>
    <div class="card" *ngIf="project">
        <table class="table-bordered text-center">
            <thead>
                <tr>
                    
                    <th>Project Name</th>
                    <th>StartDate</th>
                    <th>EndDate</th>
                    <th>Description</th>
                    <th>Status:</th>
                    <th>Action</th>
            
                </tr>
            </thead>
            <tbody  >
                <tr>
            
                    <td><a href="#">{{project.title}}</a></td>
                    <td>{{project.startDate}}</td>
                    <td>{{project.endDate}}</td>
                    <td>{{project.description}}</td>
                    <td>{{project.status}}</td>
                    <td><a class="link-underline-primary" (click)="onClick()"> show project members</a>|<a [routerLink]="['showdetails',project.id]">Show Employees Work</a></td>
                </tr>
            </tbody>
        </table>
    </div>



    <h1>Project Employees List</h1>
    <div class="container">
    <div class="card" *ngFor="let employee of employees">
        <table class="table-bordered text-center">
            <thead>
                <tr>
                    <th>FullName</th>
                    <th>Role</th>
                    <th>Project Assigned Date</th>
                </tr>
            </thead>
            <tbody  >
                <tr>
            
                    <td>{{employee.fullName}}</td>
                    <td>{{employee.projectRole}}</td>
                    <td>{{employee.projectAssignDate|date}}</td>
    
                </tr>
               
            </tbody>
        </table>
    </div>
</div>
</div>

   
  <router-outlet></router-outlet>



