<div>
  <h2>Project</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="d-grid">
      <select (change)="changeProject($event)" formControlName="selectedProject">
        <option value="">Choose Project</option>
        <option *ngFor="let project of projects" [ngValue]="project">
          {{ project }}
        </option>
      </select>
      <!-- error block -->
      <div *ngIf="isSubmitted && selectedProject?.invalid">
        <sup>*</sup>Please provide Project title
      </div>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
<hr>
<div *ngIf="project">
  <p>Project Id : {{project.id}}</p>
  <p>Project Name : {{project.title}}</p>
</div>