<div class="container mt-4">
    <h2>Project Details</h2>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Project ID: {{ projectDetails.id }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Status: {{ projectDetails.status }}</h6>
        <p class="card-text"><strong>Title:</strong> {{ projectDetails.title }}</p>
        <p class="card-text"><strong>Start Date:</strong> {{ projectDetails.startDate | date }}</p>
        <p class="card-text"><strong>Description:</strong> {{ projectDetails.description }}</p>
        <p class="card-text"><strong>Team Manager:</strong> {{ projectDetails.teamManager }}</p>
      </div>
    </div>
  </div>
  