<div class="container mt-4">
  <h2 class="mb-4">Project Details</h2>
  <div class="card bg-light text-dark">
    <div class="card-body">
      <p class="card-text"><strong>Status:</strong> {{ projectDetails.status }}</p>
      <p class="card-text"><strong>Title:</strong> {{ projectDetails.title }}</p>
      <p class="card-text"><strong>Start Date:</strong> {{ projectDetails.startDate | date }}</p>
      <p class="card-text"><strong>Description:</strong> {{ projectDetails.description }}</p>
      <app-projectteammembers></app-projectteammembers>
      <br>
      <button class="btn btn-primary" (click)="getAllTasksOfProject(projectDetails.id)">AssignedTasks List</button>&nbsp;
      <button *ngIf="canShowButton()" class="btn btn-secondary"  (click)="unAssignedTask(projectDetails.id)">UnAssignedTasks</button>&nbsp;
      <button *ngIf="canShowButton()" class="btn btn-warning"  (click)="updateProject(projectDetails.id)">Edit</button>&nbsp;
      <button *ngIf="canShowButton()" (click)="onRemoveButton(projectDetails.id)" class="btn btn-danger">Delete</button>
    </div>
    </div>
  </div>
