<!-- <app-insert></app-insert> -->
<!-- <app-all-projects-list></app-all-projects-list> -->
<!-- <app-calender></app-calender> -->
<!-- <app-calender></app-calender> -->
<!-- <project-list (selectedProjectId)="onReceiveProjectId($event)"></project-list>
<div class="card">
    <div *ngIf="project" class="row">
        <div class="col-6">
            <project-details [project]="project"></project-details>
        </div>
        <div class="col-6">
            <projectmember-list [projectId]="project.id"> </projectmember-list>
        </div>
    </div>
</div> -->
<!-- <div class="card" *ngIf="project">
    <div class="row">
        <div class="col-6">
            <task-list [projectId]="project.id" (selectedTaskId)="onReceiveTaskId($event)"></task-list>
        </div>
        <div class="col-6" *ngIf="taskId">
            <task-details [taskId]="taskId"></task-details>
        </div>
    </div>
</div> -->
<!-- <div class="row">
    <div class="col-6">
        <timesheet-list (selectedTimeSheetId)="onReceiveTimeSheetId($event)"></timesheet-list>
    </div>
    <div class="col-6" *ngIf="timeSheetId">
        <timesheet-details [timeSheetId]="timeSheetId"></timesheet-details>
    </div>
</div> -->

<!-- <app-insert-time-sheet></app-insert-time-sheet>   -->

<!-- <app-activity-details></app-activity-details> -->

<!-- <app-update-project-allocation></app-update-project-allocation> -->
<!-- <app-all-unassigned-employee></app-all-unassigned-employee> -->
<!-- <app-all-unassigned-employee></app-all-unassigned-employee> -->

<!-- <app-all-assigned-employee></app-all-assigned-employee> -->
<!-- <app-all-employees-of-project></app-all-employees-of-project>  -->
<!-- 
<app-all-employees-of-project></app-all-employees-of-project> -->
<!-- <app-unassigned-employee-of-project></app-unassigned-employee-of-project> -->

<!-- <app-all-employees-of-project></app-all-employees-of-project> -->

<!-- <app-add-activity></app-add-activity> -->
<!-- app-assign-employee-to-project -->

 <!-- <app-update-activity></app-update-activity> -->
<!--  
 <project-activities></project-activities> -->

<!-- <app-project-activities></app-project-activities> -->
<!-- <app-assign-employee-to-project></app-assign-employee-to-project> -->

<!-- <app-total-work-duration-of-employee></app-total-work-duration-of-employee> -->


<!-- <linechart><linechart> -->

   
   <!-- <app-all-unassigned-employee></app-all-unassigned-employee> -->
<!-- <linechart></linechart> -->

<!-- <app-dailyreviewprogress></app-dailyreviewprogress> -->

<!-- <app-weeklyprogreessreview></app-weeklyprogreessreview>
 -->
<!-- 
<app-monthlyprogressreview></app-monthlyprogressreview> -->

<!-- <app-projectactivities-piechart></app-projectactivities-piechart> -->

<!-- <app-employee-details (selectedEmployeeId)="onReceiveEmployee($event)"></app-employee-details>
<app-employee-salary-structure [employeeId]="employeeId" *ngIf="visibleSalaryStructure && employeeId" ></app-employee-salary-structure> -->

<!-- <app-all-employees-of-project></app-all-employees-of-project> -->
<!-- <app-barchart></app-barchart> -->

<!-- <app-employee-details (selectedEmployeeId)="onReceiveEmployee($event)"></app-employee-details>
<app-employee-salary-structure [employeeId]="employeeId" *ngIf="visibleSalaryStructure && employeeId" ></app-employee-salary-structure> -->

<!-- <app-all-unassigned-employee></app-all-unassigned-employee> -->

<!-- <div class="row">
    <div class="col-sm-3">
        <app-barchart></app-barchart>
        <p>History of All project Activities By status</p>
    </div>

    <div class="col-sm-3">
        <app-vertical-barchart></app-vertical-barchart>
    </div>

    <div class="col-sm-3">
        <app-piechart></app-piechart>
    </div>

    <div class="col-sm-3">
        <linechart></linechart>
    </div>
</div> -->

<!-- <app-barchart></app-barchart> -->
<!-- <app-barchart></app-barchart> -->

<!-- <layout-main></layout-main> -->
<!-- <app-add-leave></app-add-leave> -->
<!-- <app-team-member-leave-request></app-team-member-leave-request> -->
<!-- <app-salarystructure></app-salarystructure> -->
<!-- <app-monthly-leave-chart></app-monthly-leave-chart> -->
<button (click)="getFile()">Download</button>