<!-- <p>employee works!</p> -->
<horizontal-bar class="mb-2"></horizontal-bar>
<div class="row">
    <div class="col-1">
        <vertical-bar></vertical-bar>
    </div>
    <div class="col-11">

        <day-timesheet></day-timesheet>
    </div>
</div>
<!-- <timesheet-entry-detail></timesheet-entry-detail> -->
<!-- <week-timesheet-list [employeeId]="10" [fromDate]="'2024-01-04'" [toDate]="'2024-01-10'"></week-timesheet-list> -->
<!-- <new-day-timesheet></new-day-timesheet> -->
<!-- <employee-project></employee-project> -->
<!-- <employee-project-works></employee-project-works> -->
<!-- <project-work-list></project-work-list>
<project-work-item></project-work-item> -->
<!-- <task-work-utilization></task-work-utilization> -->

<router-outlet></router-outlet>