
<div class="container">
    <h2>Tasks</h2>
    <button class="btn btn-primary" (click)="addTask()">Add New Task</button>
    <div class="row">
      <div class="col-md-6">
        <app-filteredtasks (filterTasksByStatus)="filterTasksByStatus($event)"></app-filteredtasks>
        <br>
        <div>
          <label for="datePicker">Select a date of tasks: </label>
          <input type="date" id="datePicker" [(ngModel)]="selectedDate" (change)="getTasksByDate(selectedDate)">&nbsp;
          <button class="btn btn-danger" (click)="showAllTasks()">Remove Date Filter</button>
        </div>
        <br>
        <div class="scrollable-list">
        <table class="table table-secondary table-striped">
          <thead class="table-active">
            <tr>
              <!-- <th>ID</th> -->
              <th>Project</th>
              <th>Task</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of filteredTasks">
              <!-- <td>{{ task.id }}</td> -->
              <td>{{ task.projectName}}</td>
              <td>{{ task.title }}</td>
              <td>
                <button class="btn btn-primary" (click)="selectTask(task.id)">Details</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
      
      <div class="col-md-6">
        <div *ngIf="selectedTaskId !== null">
          <app-taskdetails [taskId]="selectedTaskId"></app-taskdetails>
        </div> 
      </div>
    </div>
  </div>
  

