<h2> Add TimesheetEntry</h2>
<label>Project:</label>
<select [(ngModel)]="selectedProjectId" (change)="getWorks()">
    <option *ngFor="let project of projects;" [value]="project.id">{{project.title|titlecase}}</option>
</select><br>
<label>Work:</label>
<select  style="width: 100px;  " [(ngModel)]="timesheetDetail.employeeWorkId" >
    <option *ngFor="let work of employeeWorks;let i=index" [value]="work.id">{{work.title|titlecase}}</option>
</select><br>
<label>From :</label>
<input type="time" name="fromTime" [(ngModel)]="timesheetDetail.fromTime" (change)="getDuration(timesheetDetail)">
<label>TO:</label>
<input type="time" name="toTime" [(ngModel)]="timesheetDetail.toTime" (change)="getDuration(timesheetDetail)"> <br />
<br />  

<br>
<p>duration:{{timesheetDetail.durationInHours}}</p>
<button type="submit" (click)="onClick()">Add</button> 