<h2> Add TimeSheetEntry</h2>
<label>Activity:</label>
<select [(ngModel)]="timeSheetDetail.workCategory">
    <option *ngFor="let activity of activitiyTypes;let i=index" [value]="activity">{{activity |titlecase}}</option>
</select><br>
<label>Title:</label>
<input type="text" [(ngModel)]="timeSheetDetail.work"> <br /><br>

<label>Description:</label>
<textarea name="" id="" cols="30" rows="1" [(ngModel)]="timeSheetDetail.description"></textarea><br>
<label>From :</label>
<input type="time" name="fromTime" [(ngModel)]="timeSheetDetail.fromTime" (change)="getDuration(timeSheetDetail)">
<label>TO:</label>
<input type="time" name="toTime" [(ngModel)]="timeSheetDetail.toTime" (change)="getDuration(timeSheetDetail)"> <br /> <br />


<p>duration:{{timeSheetDetail.durationInHours}}</p>
<br>
<button type="submit" (click)="onClick()">Add</button>