
<div class="container">
    <h2>Employee Projects</h2>
    <div class="row">
        <div class="col-md-6">
            <app-managerprojectfilters (filterByStatus)="filterProjectsByStatus($event)"></app-managerprojectfilters>
            <br>
            <div class="scrollable-list">
                <table class="table table-secondary table-striped">
                    <thead class="table-active">
                        <tr>
                            <th>Title</th>
                            <th>Start Date</th>
                            <!-- <th>Status</th> -->
                            <th>Team Manager</th>
                            <th>Completion</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let project of filteredProjects">
                            <td (click)="selectProject(project.id)"><span class="hover-link">{{ project.title }}</span></td>
                            <td>{{ project.startDate | date }}</td>
                            <!-- <td>{{ project.status }}</td> -->
                            <td>{{project.teamManager}}</td>
                            <td>{{project.completion}}</td>
                            <td>
                                <button class="btn btn-primary" (click)="selectProject(project.id)">Details</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
  
        <div class="col-md-6">
            <div *ngIf="selectedProjectId !== null">
                <app-managerprojectdetails [projectId]="selectedProjectId"></app-managerprojectdetails>
            </div>
        </div>
    </div>
  </div>
  