<div class="container">
    <h2>Employee Projects</h2>
    <button class="btn btn-secondary" (click)="addProject()">Add New Project</button>
    <div class="row">
        <div class="col-md-6">
            <app-managerprojectfilters (filterByStatus)="filterProjectsByStatus($event)"></app-managerprojectfilters>
            <br>
            <div class="scrollable-list">
                <table class="table table-secondary table-striped">
                    <thead class="table-active">
                        <tr>
                            <th>Title</th>
                            <th>Start Date</th>
                            <!-- <th>Completion</th> -->
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let project of filteredProjects">
                            <td (click)="selectProject(project.id)"><span class="hover-link">{{ project.title }}</span></td>
                            <td>{{ parseDate(project.startDate) | date: 'longDate' }}</td>
                            <!-- <td>{{project.completion}}%</td> -->
                            <td>
                                <button class="btn btn-primary" (click)="selectProject(project.id)">Details</button>&nbsp;
                                <button class="btn btn-secondary" (click)="addTask(project.id)">Add Task</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
  
        <div class="col-md-6">
            <div *ngIf="selectedProjectId !== null">
                <app-employeeprojectdetails [projectId]="selectedProjectId"></app-employeeprojectdetails>
            </div>
        </div>
    </div>
  </div>
      