<app-insert-time-sheet-entry></app-insert-time-sheet-entry>

<table class="table-bordered">
    <thead>
        <tr>
            <th>StartTime:</th>
            <th>EndTime:</th>
            <th>Activity:</th>
            <th>Duration:</th>
        </tr>
    </thead>
    <tbody *ngFor="let timeSheetEntry of timeSheetEntries">
        <tr>
            <td>{{timeSheetEntry.fromTime }}</td>
            <td>{{timeSheetEntry.toTime}}</td>
            <td>{{timeSheetEntry.activity?.activityType}}</td>
            <td>{{timeSheetEntry.durationInHours}}</td>
        </tr>
       
    </tbody>
    
</table>

<p>Total Hours : {{totalminutes}}</p>

<button type="submit" (click)="onSubmit()"> submit </button> 
