
<ng-template #insertTimesheetEnrty>
<app-insert-time-sheet-entry></app-insert-time-sheet-entry>
</ng-template>

<button (click)="onClickAddTimesheetEntry()"> Add </button>
<app-popup *ngIf="showaddTimesheetEntry" [templateToRender]="insertTimesheetEnrty" (closePopup)="onClosePopup()"></app-popup>

<br><br><br>
<p> Date : {{todaysDate}}</p>
 
<table class="table-bordered">
    <thead>
        <tr>
            
            <th>Category</th>
            <th>work</th>
            <th>StartTime</th>
            <th>EndTime</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody *ngFor="let timeSheetEntry of timeSheetEntries">
        <tr>
            <td>{{timeSheetEntry.workCategory }}</td>
            <td>{{timeSheetEntry.work }}</td>
            <td>{{timeSheetEntry.fromTime }}</td>
            <td>{{timeSheetEntry.toTime}}</td>
            <td>{{timeSheetEntry.durationInHours}}</td>
        </tr>
       
    </tbody>
    
</table>

<p>Total Hours : {{totalminutes}}</p>

<button type="submit" (click)="onSubmit()"> submit </button> 
