<div class="container">
    <h2> My Work Details</h2>
    <div class="card">
        <table class="table-bordered text-center">
            <thead>
                <tr>
                    <th>AssignedDate</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>description</th>
                    <th>projectWorkType</th>
                    <th>projectName</th>
                    <th>assignedBy</th>
                    <th>dueDate</th>
                   </tr>
            </thead>
            <tbody *ngIf="employeeworks">
                <tr>
                    <td> {{employeeworks.assignDate |date}}</td>
                    <td>{{employeeworks.title}}</td>
                    <td> {{employeeworks.status}}</td>
                    <td> {{employeeworks.description}}</td>
                    <td> {{employeeworks.projectWorkType}}</td>
                    <td> {{employeeworks.projectId}}</td>
                    <td> {{employeeworks.assignedBy}}</td>
                    <td> {{employeeworks.dueDate |date}}</td>
                </tr>
            </tbody>
            <button (click)="onClick(employeeworks.id)">Edit</button>
        </table>

        
    </div>
   <div *ngIf="Id">
    <app-update-employee-work [activityId]="employeeworks.id"></app-update-employee-work>
</div>

