<label>EmployeeId:</label>
<input type="text" name="employeeId" [(ngModel)]="employeeId">

<label>FromDate:</label>
<input type="text" name="fromDate" [(ngModel)]="fromDate">

<label>ToDate:</label>
<input type="text" name="toDate" [(ngModel)]="toDate">

<button (click)="submit(employeeId,fromDate,toDate)">submit</button>


<div *ngIf="workCategory">
    <p>UserStory:{{workCategory.userStory}}</p>
    <p>Task:{{workCategory.task}}</p>
    <p>Bug:{{workCategory.bug}}</p>
    <p>Mentoring:{{workCategory.mentoring}}</p>
    <p>Monitoring:{{workCategory.monitoring}}</p>
    <p>Learning:{{workCategory.learning}}</p>
    <p>Clientcall:{{workCategory.clientcall}}</p>
    <p>Issues:{{workCategory.issues}}</p>
    <p>Meeting:{{workCategory.meeting}}</p>
</div>
