<h2>Leave Details</h2>
<div class="row">
    <div class="row">
        <div class="col-md-6">
            <div >
                <div *ngIf="leaveDetails">
                                    <p><label>Name:</label>{{leaveDetails.fullName}}</p>
                                    <p><label>Application Date:</label>{{leaveDetails.applicationDate |date}}</p>
                                    <p><label>From Date:</label>{{leaveDetails.fromDate |date}}</p>
                                    <p><label>To Date:</label>{{leaveDetails.toDate |date}}</p>
                                    <p><label>Status:</label>{{leaveDetails.status}}</p>
                                    <p><label>LeaveType:</label>{{leaveDetails.leaveType}}</p>
                                    <div class="button-container">
                                        <button type="button" class="btn btn-success" (click)="onApproved(leaveDetails.id)">Approve</button>&nbsp;
                                        <button type="button" class="btn btn-danger" (click)="onReject(leaveDetails.id)">Reject</button>
                                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <app-employee-consumed-leaves [leaveId]="leaveId"></app-employee-consumed-leaves>
            <app-employee-pending-leaves [leaveId]="leaveId"></app-employee-pending-leaves> 
        </div>
        <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>