<h2>Leave Details</h2>
<div class="row">
    <div class="row">
        <div class="col-md-6">
            <div >
                <div *ngIf="leaveDetails">
                                    <tr><th>Name:</th><td>{{leaveDetails.fullName}}</td></tr>
                                    <tr><th>Application Date:</th><td>{{leaveDetails.applicationDate |date}}</td></tr>
                                    <tr><th>LeaveType:</th><td>{{leaveDetails.leaveType}}</td></tr>
                                    <tr><th>From Date:</th><td>{{leaveDetails.fromDate |date}}</td><th>To Date:</th><td>{{leaveDetails.toDate |date}}</td></tr>   
                                    <tr><th><label>Status:</label></th><td>{{leaveDetails.status}}</td></tr> 
                                    <div class="button-container">
                                        <button type="button" class="btn btn-success" (click)="onApproved(leaveDetails.id)">Approve</button>&nbsp;
                                        <button type="button" class="btn btn-danger" (click)="onReject(leaveDetails.id)">Reject</button>
                                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" *ngIf="leaveDetails">
            <app-employee-consumed-leaves [employeeId]="leaveDetails.employeeId"></app-employee-consumed-leaves>
            <app-employee-pending-leaves [employeeId]="leaveDetails.employeeId"></app-employee-pending-leaves> 
        </div>
        <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>