<div class="container mt-5">
    <div class="row">
      <div class="col-sm-3">
        <h3>Employee Work Utilization</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
      <div class="col-sm-6">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group col-6">
          </div>
              <div class="form-group col-6">
                <label for="employeeId">Employee Id:</label>
                <input type="number" class="form-control" id="employeeId"  name="employeeId" [(ngModel)]="InOutTimeRecorder.employeeId" >
              </div>
              <div class="form-group col-6">
                <label for="workDate">Work Date:</label>
                <input type="date" class="form-control" id="workingDate"  name="workingDate" [(ngModel)]="InOutTimeRecorder.workingDate">
              </div>
              <div class="form-group col-6">
                <label for="inTime">In :</label>
                <input type="time" class="form-control" id="inTime"  name="inTime" [(ngModel)]="InOutTimeRecorder.inTime">
              </div>
              <div class="form-group col-6">
                <label for="outTime">Out:</label>
                <input type="time" class="form-control" id="outTime"  name="outTime" [(ngModel)]="InOutTimeRecorder.outTime">
              </div>
              <div>
                <button type="submit">Add</button>
              </div>
              </form>
      </div>
      <div class="col-sm-3">
        <h3>Annoucements</h3>
        <p>OOOOOOOOOOOOOOOOOOOOOOOOOOOOO</p>
        <p>PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP</p>
      </div>
    </div>
  </div>