<div>
   
    <h2> My Timesheets </h2>
    <div class="mb-2">
        <label >Status</label>
        <select class="mx-2 form-control-sm" [(ngModel)]="selectedStatus" (change)="onIntervalChange()">
            <option *ngFor="let status of timesheetStatus" [value]="status"> {{status}}</option>
        </select>
        <label>Interval</label>
        <select class="mx-2 form-control-sm" [(ngModel)]="selectedInterval" (change)="onIntervalChange()">
            <option *ngFor="let interval of intervals" [value]="interval"> {{interval}}</option>
        </select>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Date</th>
                <th>Status</th>
                <th>hours</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody *ngFor="let timesheet of timeSheets">
            <tr>
                <td> {{timesheet.timesheetDate | date:'dd-MM-yyy'}}</td>
                <td> {{timesheet.status}}</td>
                <td> {{timesheet.hours |hourConvertor}}</td>
                <td><a [routerLink]="['../details',timesheet.id]"> Details</a></td>
            </tr>
        </tbody>
    </table>
</div>