


<div class="container">
    <button class="m-2" [routerLink]="['/timesheet/create']"> Create New Timesheet</button>
    <h2> Timesheet List</h2>
    <div class="card">
        <table class="table-bordered text-center">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Status Change Date</th>
                </tr>
            </thead>
            <tbody *ngFor="let timesheet of timeSheets">
                <tr>
                    <td  style="cursor: pointer; text-decoration: underline ; color:  #0000EE;" [routerLink]="['../details',timesheet.id]"> {{timesheet.timesheetDate | date}}</td>
                    <td> {{timesheet.status}}</td>
                    <td>{{timesheet.statusChangedDate |date}}</td>
                </tr>
            </tbody>
        </table>
    </div>