<div>
    <h4 class=" container-fluid">
        {{displayMonth}}

    </h4>

    <div>
        <input type="button" class="mx-2" (click)="setCurrentMonth()" value="today" />
        <input type="button" class="mx-2" (click)="decreaseMonth()" value="<" />
        <input type="button" class="mx-2" (click)="increaseMonth()" value=">" />
    </div>
</div>

<table class='calendar-table' *ngIf="calendar">
    <thead>
        <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of calendar | chunk: 7; let i = index">
            <ng-container *ngFor="let c of row; let j = index">
                <td class="calendar-day" [ngClass]="{ 'blue-date': isDateClicked(c.date) ,'red-date': isholiday(c.date),'past-date': c.isPastDate}"
                    (click)="onClick(c.date)">
                    <div [ngClass]="{'blue-date': c.isToday } ">
                        <strong>{{c.date.getDate()}}</strong> <strong
                            *ngIf="c.isToday || (i==0 && j==0) || (c.date.getDate() == 1)">
                            {{monthNames[c.date.getMonth()]}}</strong>

                        <div class="green-project" *ngIf="isProjectOngoing(c.date)">  </div>
                    </div>
                </td>
            </ng-container>
        </tr>
    </tbody>
</table>