<div class="container">
    <h2> My Tasks</h2>
    <a> NotStarted </a> |<a>InProgress</a> |<a> Completed</a>
    <div class="card">
        <table class="table-bordered text-center">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>AssignedBy</th>
                    <th>AssignedDate</th>
                </tr>
            </thead>
            <tbody *ngFor="let task of tasks">
                <tr>
                    <td class="d-flex p-1"> <a (click)="OnClickTask(task.id)" style="cursor: pointer;">{{task.title}}
                        </a></td>
                    <td> {{task.status}}</td>
                    <td> {{task.assignedBy}}</td>
                    <td> {{task.assignDate |date}}</td>
                </tr>
            </tbody>
        </table>
    </div>