
body {
    padding-top: 100px;
    padding-bottom:100px;
    background-color: #f5f5f5; /* Light gray background for contrast */
}
.container {
    max-width: 1000px;
}
.card {
    background-color: #ffffff; /* white background */
    border-radius: 40px; /* More rounded corners */
    overflow: hidden; /* Makes sure nothing spills out of the rounded corners */
}
.card-body {
    padding: 30px;
}

.form-control {
    border: 2px solid #ced4da;
    box-shadow: none; /* Removes the default Bootstrap shadow */
	width: 350px;
    height: 30px;
    border-radius: 10px; /* Slightly rounded borders */
}
.form-control:focus {
    border-color: #80bdff; /* A blueish focus ring */
    box-shadow: 0 0 0 0.2rem rgba(185, 198, 200, 0.76); /* Enhance focus box shadow */
}
.btn-success {
    background-color: #3128a7;
    border-color: #2a28a7;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px; /* Padding makes the button larger and easier to click */
}
.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}
.spacing {
    margin-bottom: 30px; /* Adjust the value as per your preference */
}


