&nbsp;&nbsp;&nbsp;&nbsp;

<div>
  <label for="project">Project Name:</label>
  <select id="project" name="project" (change)="getSelectedProjectId($event)">
    <option *ngFor="let project of projects" [value]="project.id">{{project.title}}</option>
  </select>
</div>&nbsp;&nbsp;&nbsp;&nbsp;



  <td>
    <input type="checkbox" [(ngModel)]="showTodoTasks" (change)="filterActivities()"> Todo
    <input type="checkbox" [(ngModel)]="showInProgressTasks" (change)="filterActivities()"> In Progress
    <input type="checkbox" [(ngModel)]="showCompletedTasks" (change)="filterActivities()"> Completed
  </td>
  <table class="table-bordered text-center"  *ngIf="isFalse==false">
    <thead>
      <tr>
        <th>title</th>
        <th>startDate</th>
        <th>dueDate</th>
        <th>status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let activity of filteredActivities">
       
       
        <td>{{activity.title}}</td>
        <td>{{activity.startDate|date}}</td>
        <td>{{activity.dueDate|date}}</td>
        <td>{{activity.status
        }}</td>
      </tr>
    </tbody>
  </table>
  