<div class="main-content">
    <div class="container-fluid">
       
                        
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <b><h4 class="title">All Accounts</h4></b>
                                    <p class="category">Here is all Accounts of Employees</p>
                                </div>
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-hover table-striped ">
                                        <thead>
                                            <tr>
                                                <th>Account Id</th>
                                                <th>Account Number</th>
                                                <th>IFSCCode</th>
                                                <th>RegisterDate</th>
                                                <th>Balance</th>
                                            </tr>
                                        </thead> 
                                        <tbody>   
                                            <tr *ngFor="let account of account">
                                                <td >{{ account.accountId }}</td>
                                                <td >{{ account.accountNumber }}</td>
                                                <td >{{ account.ifscCode }}</td>
                                                <td >{{ account.registerDate }}</td>
                                                <td >{{ account.balance }}</td>
                                            </tr>
                                        </tbody>       
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div> 
            
    
   </div>
</div>