<div class="container mt-4">
  <div class="card shadow mb-4">
    <div class="card-body">
      <form [formGroup]="timeSheetForm" (ngSubmit)="OnSubmit()">
        <div class="form-group">
          <label for="employeeId" hidden>Employee ID </label>
          <input type="text" class="form-control" id="employeeId" formControlName="employeeId" [(ngModel)]="employeeId"
            readonly hidden>
        </div>

        <div class="form-group">
          <label for="selectedProjectId">Select Project</label>
          <select class="form-control" id="selectedProjectId" [(ngModel)]="selectedProjectId"
            [ngModelOptions]="{ standalone: true }">
            <option *ngFor="let project of projectNames" [value]="project.projectId">{{ project.title }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="selectedStatus">Select Status</label>
          <div *ngFor="let option of statusOptions">
            <label>
              <input type="radio" name="selectedStatus" [(ngModel)]="selectedStatus" [value]="option"
                (change)="onProjectChange()" [ngModelOptions]="{ standalone: true }">
              {{ option }}
            </label>
          </div>
        </div>


        <div class="form-group">
          <label for="taskId">Select Task</label>
          <select class="form-control" id="taskId" formControlName="taskId">
            <option *ngFor="let task of taskName" [value]="task.taskId">{{ task.title }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="date">Date</label>
          <input type="date" class="form-control" id="date" formControlName="date">
        </div>

        <div class="form-group">
          <label for="fromTime">From Time</label>
          <input type="text" class="form-control" id="fromTime" formControlName="fromTime">
        </div>

        <div class="form-group">
          <label for="toTime">To Time </label>
          <input type="text" class="form-control" id="toTime" formControlName="toTime">
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" formControlName="description"></textarea>
        </div>

        <div class="form-group">
          <label for="status">Select Status</label>
          <select class="form-control" id="status" formControlName="status">
            <option *ngFor="let option of taskStatusOptions" [value]="option">{{ option }}</option>
          </select>
        </div>
<br>
        <button type="submit" [disabled]="!timeSheetForm.valid" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>