

<div *ngIf="project">
    <form #insertForm="ngForm" (ngSubmit)="insertProject(insertForm.value)">
       
        <p><label><b>Project Name :</b></label><input type="text" name="projName" #projName="ngModel" [(ngModel)]="project.projName"></p>
        <p><label><b>Start Date :</b></label><input type="text" name="startDate" #startDate="ngModel" [(ngModel)]="project.startDate"></p>
        <p><label><b>End Date :</b></label><input type="text" name="endDate" #endDate="ngModel" [(ngModel)]="project.endDate"></p>
        <p><label><b>Description :</b></label><input type="text" name="description" #description="ngModel" [(ngModel)]="project.description"></p>
        <p><label><b>Working Team :</b></label><input type="text" name="teamId" #teamId="ngModel" [(ngModel)]="project.teamId"></p>
       
        <button type="submit">Insert</button>


        <div *ngIf="status">
            <p>Project Inserted Successfully</p>
        </div>      
 
        <div *ngIf="status == false">
            <p>Please insert valid information</p>
        </div>
    </form>
 
     


</div>