<div class="card mb-4" style="height: 500px;">
    <br>
    <h4>Total project work hours by members</h4>
    <div class="container mt-4">
      <div>
        <div class="container mt-3">
          <div class="row">
            <div class="col-md-4">
              <select [(ngModel)]="selectedProjectId" class="form-control mb-3">
                <option *ngFor="let project of managerProjects" [value]="project.projectId">{{ project.title }}</option>
              </select>
            </div>
            <div class="col-md-4">
              <select [(ngModel)]="selectedDateRange" class="form-control mb-3">
                <option *ngFor="let option of dateRangeOptions" [value]="option">{{ option }}</option>
              </select>
            </div>
            <div class="col-md-4">
              <input [(ngModel)]="selectedGivenDate" class="form-control mb-3 large-date-input" type="date">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button (click)="onButtonClick()" class="btn btn-primary">Fetch Data</button>
            </div>
          </div>
        </div>
        
      </div>
      <div style="height: 300px;">
        <canvas
          baseChart
          class="chart"
          [datasets]="barChartData.datasets"
          [labels]="barChartData.labels"  
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [type]="barChartType"
        ></canvas>
      </div>
    </div>
  </div>
  