<p>addaccount works!</p>





<div *ngIf="account">
    <form #insertForm="ngForm" (ngSubmit)="insertAccount(insertForm.value)">
       
        <p><label><b>Account Number :</b></label><input type="text" name="accountNumber" #accountNumber="ngModel" [(ngModel)]="account.accountNumber"></p>
        <p><label><b>IFSC Code :</b></label><input type="text" name="ifsccode" #ifsccode="ngModel" [(ngModel)]="account.ifscCode"></p>
        <p><label><b>Register Date :</b></label><input type="text" name="registerDate" #registerDate="ngModel" [(ngModel)]="account.registerDate"></p>
        <p><label><b>Balance :</b></label><input type="number" name="balance" #balance="ngModel" [(ngModel)]="account.balance"></p>
        
      
                                                                        
        <button type="submit">Insert</button>

    </form>
 
     


</div>