 
    <div class="row">
      <div class="col-md-12">
        <div class="card">
    <h4>&nbsp;&nbsp;Progress of each project</h4>
          <div class="card-body">
            <div *ngFor="let project of projectNames; let i = index">
              <h5>{{ project.title }}</h5>
              <div class="progress-outer">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped active" [style.width.%]="getCompletionPercentage(project.projectId)"></div>
                  <div class="progress-value" style="color: rgb(7, 245, 51);">{{ getCompletionPercentage(project.projectId) }} %</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>