



<div class="container">
    <h4>Progress of each project:</h4>
    <br>
    <div class="row">
        <div *ngFor="let project of projectNames;let i = index" class="col-md-6">
           <h5> {{ project.title }}</h5>
            <div class="progress-outer">
                <div class="progress">
                    <div class="progress-bar  progress-bar-striped active" [style.width.%]="getCompletionPercentage(project.projectId)"></div>
                    <div class="progress-value" style="color: rgb(241, 16, 16);">{{ getCompletionPercentage(project.projectId) }} %</div>
                </div>
            </div>
        </div>
    </div>
</div>