

<header>
    <nav
      class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
    >
      <div class="container">
        <div
          class="navbar-collapse collapse d-sm-inline-flex justify-content-start">
          <ul class="navbar-nav flex-grow">
            <li
              class="nav-item">
              <a class="nav-link text-dark" [routerLink]="['teammember/projects']">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" [routerLink]="['teammember/timesheets']">Timesheet</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  
  
  