<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-start">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item">
            <nav
              class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-1">
              <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-start">
                  <ul class="navbar-nav flex-grow">
                    <li class="nav-item" *ngIf="isUserHaveRequiredRole(Role.TeamMember)">
                      <a class="nav-link text-dark" [routerLink]="['teammember/projects']"
                        routerLinkActive="router-link-active">
                        <i class="fas fa-clipboard" style="color: #007bff;"></i>&nbsp;Projects</a>
                    </li>
                    <li class="nav-item" *ngIf="isUserHaveRequiredRole(Role.TeamMember)">
                      <a class="nav-link text-dark" [routerLink]="['teammember/mytasks']"
                        routerLinkActive="router-link-active">
                        <i class="fas fa-check-square" style="color: #8b0ba4;"></i>&nbsp;MyTasks
                      </a>
                    </li>
                    <li class="nav-item" *ngIf="isUserHaveRequiredRole(Role.TeamMember)">
                      <a class="nav-link text-dark" [routerLink]="['teammember/alltasks']"
                        routerLinkActive="router-link-active">
                        <i class="fas fa-check list" style="color: #cb0c4b;"></i>&nbsp;AllTasks</a>
                    </li>
                    <li class="nav-item" *ngIf="isUserHaveRequiredRole(Role.TeamMember)">
                      <a class="nav-link text-dark" [routerLink]="['teammember/timesheets']"
                        routerLinkActive="router-link-active">
                        <i class="fas fa-calendar" style="color: #ffc107;"></i>&nbsp;Timesheet</a>
                    </li>
                    <li class="nav-item" *ngIf="isUserHaveRequiredRole(Role.TeamManager)">
                      <a class="nav-link text-dark" [routerLink]="['teammanager/projects']"
                        routerLinkActive="router-link-active">
                        <i class="fas fa-clipboard" style="color: #007bff;"></i>&nbsp;Projects</a>
                    </li>
                    <li class="nav-item" *ngIf="isUserHaveRequiredRole(Role.TeamManager)">
                      <a class="nav-link text-dark" [routerLink]="['teammanager/tasksbymanager']"
                        routerLinkActive="router-link-active">
                        <i class="fas fa-check list" style="color: #cb0c4b;"></i>&nbsp;AllTasks</a>
                    </li>
                    <li class="nav-item" *ngIf="isUserHaveRequiredRole(Role.TeamManager)">
                      <a class="nav-link text-dark" [routerLink]="['teammanager/employeelist']"
                        routerLinkActive="router-link-active">
                        <i class="fas fa-calendar" style="color: #ffc107;"></i>&nbsp;Employees</a>
                    </li>
                    <li class="nav-item" *ngIf="isUserHaveRequiredRole(Role.TeamManager)">
                      <a class="nav-link text-dark" [routerLink]="['teammanager/timesheetlist']"
                        routerLinkActive="router-link-active">
                        <i class="fas fa-calendar" style="color: #ffc107;"></i>&nbsp;Timesheets</a>
                    </li>

                    <li class="nav-item" *ngIf="isUserHaveRequiredRole(Role.HRManager)">
                      <a class="nav-link text-dark" [routerLink]="['hrmanager/employeeslist']"
                        routerLinkActive="router-link-active">
                        <i class="fas fa-calendar" style="color: #ffc107;"></i>&nbsp;Employees</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>