<h3>Todays employee on Leaves </h3>
<div>
    <div class="card col-6">
    <table class="table-bordered text-center">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Application Date</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <!-- <th>Status</th> -->
                    <th>LeaveType</th>
                   </tr>
            </thead>
            <tbody >
                <tr *ngFor="let leave of leaves">
                    <td>{{leave.fullName}}</td>
                    <td>{{leave.applicationDate|date }}</td>
                    <td>{{leave.fromDate|date }}</td>
                    <td>{{leave.toDate|date }}</td>
                    <!-- <td>{{leave.status}}</td> -->
                    <td>{{leave.leaveType}}</td>
                </tr>
            </tbody>   
    </table>  
    </div>
</div>
