<form #insertForm="ngForm" (ngSubmit)="updateEmployee(insertForm.value)">
    <table>
        <tr>
            <td><label><b>Employee Id:</b></label></td>
            <td><input type="number" name="id" [(ngModel)]="employee.id"></td>
        </tr>
        <tr>
            <td><label><b>First Name:</b></label></td>
            <td><input type="text" name="firstName" [(ngModel)]="employee.firstName"></td>
        </tr>
        <tr>
            <td><label><b>Last Name:</b></label></td>
            <td><input type="text" name="lastName" [(ngModel)]="employee.lastName"></td>
        </tr>
        <tr>
            <td><label><b>Birth Date:</b></label></td>
            <td><input type="text" name="birthdate" [(ngModel)]="employee.birthDate"></td>
        </tr>
        <tr>
            <td><label><b>Hire Date :</b></label></td>
            <td><input type="text" name="hiredate" [(ngModel)]="employee.hireDate"></td>
        </tr>
        <tr>
            <td><label><b>Contact Number :</b></label></td>
            <td><input type="text" name="contactnumber" [(ngModel)]="employee.contactNumber"></td>
        </tr>
        <tr>
            <td><label><b>Account Number :</b></label></td>
            <td><input type="text" name="accountNumber" [(ngModel)]="employee.accountNumber"></td>
        </tr>
        <tr>
            <td><label><b>User Id :</b></label></td>
            <td><input type="number" name="userid" [(ngModel)]="employee.userId"></td>
        </tr>

        <tr>
            <button type="submit">Update</button>
        </tr>
    </table>
</form>


<div *ngIf="status">
    <p>Employee updated successfully</p>
</div>

<div *ngIf="status==false">
    <p>error while updating Employee</p>
</div>