<div class="container">
    <h2>Time Sheets</h2>
    <div class="row">
      <div class="col-md-6">
        <table class="table table-secondary">
          <thead class="table-active">
        <tr>
          <th>ID</th>
          <th>Project Name</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let timeSheet of timeSheetSummaryData">
          <td>{{ timeSheet.id }}</td>
          <td>{{ timeSheet.projectName }}</td>
          <td>{{ timeSheet.date | date }}</td>
          <td>
            <button class="btn btn-primary" (click)="selectTimeSheet(timeSheet.id)">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
      </div>
      <div class="col-md-6">
    <div *ngIf="selectedTimeSheetId">
        <app-timesheetdetails [selectedTimeSheetId]="selectedTimeSheetId"></app-timesheetdetails>
    </div>
  </div>
  </div>
</div>