<div class="main-content">
    <div class="container-fluid">

        <div class="container" style="color: aqua;" >
            <div class="row justify-content-center">
              <div class="col-md-6">
                <div class="card" style="color:black">
                <div class="loginBox text-center">
                  <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
                  <h3>Sign in here</h3>
                  <form action="login.php" method="post">
                    <div class="inputBox">
                      <input id="uname" type="text" name="Username" placeholder="Username">  
                    </div>
                    <br>
                    <div>
                    <input id="pass" type="password" name="Password" placeholder="Password">
                    </div>
                    <br>
                    <input type="submit" name="" value="Login">
                  </form>
                  <div class="">
                   <a href="#">Forget Password</a><p style="color: #ec843f;">Sign-Up</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          

    </div>
</div>