<div class="main-content ">
  <div class="tex">
  <div class="container-fluid">

          <div class="header bg-gradient-danger py-7 py-lg-8">
            
              <div class="container t">
                <div class="header-body text-center mb-7">
                  <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-6">
                      <h1 class="text-white">Welcome!</h1>
                      <p class="text-lead text-light">Use these awesome forms to login in your project.</p>
                    </div>
                  </div>
                </div>
              </div>
             
            </div>
            <!-- Page content  -->
            <div class="container text-center" style="color: aqua;" >
              <div class="row justify-content-center">
                <div class="col-md-6">
                  <div class="card" style="color:black">
                  <div class="loginBox text-center">
                    <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
                    <h3>Sign in here</h3>
                    <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)">
                      <div class="inputBox">
                        <input id="email" type="text" name="Email" placeholder="Email" [(ngModel)]="user.email">  
                      </div>
                      <br>
                      <div>
                      <input id="pass" type="password" name="Password" placeholder="Password" [(ngModel)]="user.password">
                      </div>
                      <br>
                      <button type="button" class="btn btn-primary my-4" type="submit">Sign In </button>
                      <div class="row mt-3">
                        <div class="col-8">
                          <a href="javascript:void(0)" class="text-light"><small>Forgot password? /</small></a>
                          <span> 
                            <a href="javascript:void(0)" class="text-light"><small>Create new account</small></a>
                        </span>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
            
    
    </div>
</div>

