<p>sidebar works!</p>
<ul>
<li *ngIf="isroleEmployee()"><a routerLink="timesheet-list" routerLinkActive="router-link-active">Timesheet</a></li>
      
<li *ngIf="isroleEmployee()"><a routerLink="project-list" routerLinkActive="router-link-active">Project</a></li>

<li *ngIf="isroleEmployee()"><a routerLink="project-list" routerLinkActive="router-link-active">Task</a></li>

<li *ngIf="isroleEmployee()"><a routerLink="project-list" routerLinkActive="router-link-active">---</a></li>

<li *ngIf="isroleEmployee()"><a routerLink="project-list" routerLinkActive="router-link-active">Project</a></li>
</ul>

<router-outlet></router-outlet>
