
<h2><p>update-project works!</p></h2>


 <app-get-project-by-id [projId]="projectId" (sendProject)="receiveProject($event)"></app-get-project-by-id> 
<div *ngIf="project && project.projId !=0">
      <div *ngIf="project">
        <p><label><b>Project Id :</b></label><input type="number" name="projId" #projId="ngModel" [(ngModel)]="project.projId"></p>
        <p><label><b>Project Name :</b></label><input type="text" name="projName" #projName="ngModel" [(ngModel)]="project.projName"></p>
        <p><label><b>Planned Start Date :</b></label><input type="text" name="planedStartDate" #planedStartDate="ngModel" [(ngModel)]="project.planedStartDate"></p>
        <p><label><b>Planned End date :</b></label><input type="text" name="planedEndDate" #planedEndDate="ngModel" [(ngModel)]="project.planedEndDate"></p>
        <p><label><b>Actual Start Date :</b></label><input type="text" name="actualStartDate" #actualStartDate="ngModel" [(ngModel)]="project.actualStartDate"></p>
        <p><label><b>Actual End Date :</b></label><input type="text" name="actualEndDate" #actualEndDate="ngModel" [(ngModel)]="project.actualEndDate"></p>
        <p><label><b>Description :</b></label><input type="text" name="description" #description="ngModel" [(ngModel)]="project.description"></p>
       
        <button (click)="update()" (click)="status=false">Update</button>
       </div>

        <div *ngIf="employee && employee.empId ==0">
            <p> Account Not Found </p>
        </div>

        <div *ngIf="status">
             <p>Account Updated Successfully</p>
        </div>

        <div *ngIf="status == false">
            <p>Error While Updating Data</p>
        </div>


</div>


