<h3>Employee Leaves List</h3>
<div class="container">
    <div class="card col-6">
    <table class="table-bordered text-center">
            <thead>
                <tr>
                    <th>Application Date</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Status</th>
                    <th>LeaveType</th>
                   </tr>
            </thead>
            <tbody *ngFor="let leave of employeeLeaves">
                <tr>
                    <td >{{leave.applicationDate |date}}</td>
                    <td>{{leave.fromDate |date}}</td>
                    <td>{{leave.toDate |date}}</td>
                    <td>{{leave.status}}</td>
                    <td>{{leave.leaveType}}</td>
                    <button [routerLink]="['../updateleave',leave.id]">update</button>
                </tr>
            </tbody>
    </table>
</div>
