<ng-template #insertTimesheetEnrty>
    <app-insert-time-sheet-entry *ngIf="timeSheet" [timeSheetId]="timeSheet.id"
        (stateChangeEvent)="onAddStateChange($event)"></app-insert-time-sheet-entry>
</ng-template>

<ng-template #updateTimeSheetDetails>
    <app-update-timesheet-entry *ngIf="selectedTimeSheetDetailstoUpdate"
        [timesheetDetails]="selectedTimeSheetDetailstoUpdate"
        (stateChangeEvent)="onUpdateStateChange($event)"></app-update-timesheet-entry>
</ng-template>

<app-popup *ngIf="showaddTimeSheetDetails" [templateToRender]="insertTimesheetEnrty"
    (closePopup)="onCloseAddPopup()"></app-popup>

<app-popup *ngIf="showupdateTimeSheetDetails" [templateToRender]="updateTimeSheetDetails"
    (closePopup)="onCloseUpdatePopup()"></app-popup>

    <div *ngIf="isTimeSheetCreated==false && date<=toDaysdate ">
        <p> Date : {{date|date}}</p>
        <button  (click)="CreateTimesheet()">Create TimeSheet</button>
    </div>


<ng-container *ngIf="isTimeSheetCreated">
    <p> Date : {{timeSheet?.timeSheetDate |date}}</p>
    <p> Status:{{timeSheet?.status |titlecase}}</p>
    <p> Employee Name:{{timeSheet?.employeeName}}</p>
    <button *ngIf="isTimeSheetEditable()" (click)="onClickAddTimeSheetDetails()"> Add </button>

    <table class="table-bordered" *ngIf="timeSheet">
        <thead>
            <tr>
                <th>Category</th>
                <th>work</th>
                <th>StartTime</th>
                <th>EndTime</th>
                <th>Duration</th>
            </tr>
        </thead>
        <ng-container *ngIf=" timeSheet && timeSheet.timeSheetDetails.length>0">
            <tbody *ngFor="let timesheetDetails of timeSheet.timeSheetDetails">
                <tr>
                    <td>{{timesheetDetails.workCategory }}</td>
                    <td>{{timesheetDetails.work }}</td>
                    <td>{{timesheetDetails.fromTime}}</td>
                    <td>{{timesheetDetails.toTime}}</td>
                    <td>{{timesheetDetails.durationInHours}}</td>
                    <td  *ngIf="isTimeSheetEditable()"><button  [routerLink]="['/timesheet/view/update',timesheetDetails.id,'date',timeSheet.timeSheetDate.slice(0,10)]" >Edit</button></td>
                    <!-- <td  *ngIf="isTimeSheetEditable()"><button  (click)="onClickUpdateTimeSheetDetails(timesheetDetails)">Edit</button></td> -->
                    <td  *ngIf="isTimeSheetEditable()"><button (click)="onRemoveTimeSheetDetails(timesheetDetails.id)">Delete</button></td>
                </tr>

            </tbody>
        </ng-container>

    </table>

    <p>Total Hours : {{totalminutes}}</p>

    <button type="submit"  *ngIf="isTimeSheetEditable()" (click)="onSubmit()"> submit </button>
    <button class="mx-1" *ngIf="isTimeSheetEditable() && timeSheet" (click)="onRemoveAllTimeSheetDetails(timeSheet.id)">
        ClearAll </button>
</ng-container>