<div class="container">
    <h2 class="text-center">Time Sheet Details</h2>
    <div *ngIf="selectedTimeSheet">
      <div class="card bg-light text-dark">
        <div class="card-body">
          <!-- <h4><strong>Timesheet ID:</strong> {{ selectedTimeSheet.id }}</h4> -->
          <p><strong>Task:</strong> {{ selectedTimeSheet.taskTitle }}</p>
          <p><strong>Date:</strong> {{ selectedTimeSheet.date | date }}</p>
          <p><strong>Status:</strong> {{ selectedTimeSheet.status }}</p>
          <p><strong>Description:</strong> {{ selectedTimeSheet.description }}</p>
            <p><strong>From Time:</strong> {{ selectedTimeSheet.fromTime }}</p>
            <p><strong>To Time:</strong> {{ selectedTimeSheet.toTime }}</p>
        </div>
          </div>
        </div>
  