<div class="container mt-4">
  <h2 class="mb-4">Project Details</h2>
  <div class="card bg-light text-dark">
    <div class="card-body">
      <!-- <h5 class="card-title">Project ID: {{ projectDetails.id }}</h5> -->
      <p class="card-text"><strong>Status:</strong> {{ projectDetails.status }}</p>
      <p class="card-text"><strong>Title:</strong> {{ projectDetails.title }}</p>
      <p class="card-text"><strong>Start Date:</strong> {{ projectDetails.startDate | date }}</p>
      <p class="card-text"><strong>Description:</strong> {{ projectDetails.description }}</p>
      <p class="card-text"><strong>Team Manager:</strong> {{ projectDetails.teamManager }}</p>
      <app-projectteammembers></app-projectteammembers>
      <br>
      <button class="btn btn-primary" (click)="getAllTasksOfProject(projectDetails.id)">Tasks List</button>
      <button class="btn btn-primary" (click)="updateProject(projectDetails.id)">Update</button>
      <button class="btn btn-primary">Delete</button>

    </div>
  </div>
</div>