
<div>
    <table>
      <thead>
        <th>TaskSheet Id </th>
        <th>Task Title</th>
        <th>Date </th>
        <th>Start Time </th>
        <th>End Time </th>
        <th>Worked Hrs</th>
      </thead>
      <tbody>
        <tr *ngFor="let timesheet of timesheets">
          <th scope="row">{{ timesheet.timesheetId }}</th>
          <td>{{timesheet.taskTitle}}</td>
          <td>{{timesheet.date | date: 'dd/MM/yyyy'}}</td>
          <td> {{ timesheet.fromtime }} </td>
          <td> {{ timesheet.totime }} </td>
          <td>{{timesheet.workingTime}}</td>
        
        </tr>
      </tbody>
    </table>
  </div>
  <br><br>