<div class="container">
    <h2> All UnAssignedEmployee</h2>
    <div class="card">
        <table class="table-bordered text-center">
            <thead>
                <tr>
                    <th>FullName</th>
                    <th>Email</th>
                    <th>contactNumber</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody *ngFor="let employee of employees">
                <tr>
                    <td > {{employee.firstName}} {{employee.lastName}}</td>
                    <td> {{employee.email}}</td>
                    <td> {{employee.contactNumber}}</td>
                    <td><button>Assign Employee</button></td>
                </tr>
                
            </tbody>
        </table>
    </div>
