 
 <select name="project" id="project" (change)="onChange($event)">
    <option *ngFor="let project of projects" [value]="project.id">{{project.title}}</option>
  </select>

  <div>
  <div class="container">
  <h4>All AssignedEmployee of project</h4>
    <div class="card">
<table class="table-bordered text-center">
    <tr>
        <th>FullName</th>
        <th>Role</th>
        <th>AssignDate</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let employee of assignedEmployees">
        <td>{{employee.fullName}}</td>
        <td>{{employee.projectRole}}</td>
        <td>{{employee.projectAssignDate | date}}</td>
        <td><button (click)="onSubmit(employee.projectId,employee.employeeId)">Release Employee</button></td>
    </tr>
</table>
<div >
</div>
</div>
</div>
