<p>task-details works!</p>


<div *ngIf="task && task.id !=0">

  <div>
    <table>
      <thead>
        <th>Task Id</th>
        <th>Title</th>
        <th>Project Id</th>
        <th>Description</th>
        <th>Date</th>
        <th>From Time</th>
        <th>To Time</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr>
          <td scope="row">{{ task.id }}</td>
          <td>{{task.title }}</td>
          <td>{{task.projectId }}</td>
          <td>{{ task.description }}</td>
          <td>{{ task.date }}</td>
          <td>{{ task.fromTime }}</td>
          <td>{{ task.toTime }}</td>
          <td> <button type="submit" (click)="onUpdateClick(task.id)">Update</button>
            |
            <button type="submit" (click)="delete()">Delete</button></td>

        </tr>
      </tbody>
    </table>
  </div>


  <div *ngIf=" task && task.id==0 ">
    <p>Task not Found</p>
  </div>

</div>
