<h1>Timesheet</h1>
<div *ngIf="employee">
  <label><b>Name : {{employee.firstName}}{{employee.lastName}}</b></label>
</div>
<br>
<div>
  <label><b>Date :</b>Date :<input type="date" [(ngModel)]="date " ></label>
  <button (click)="onSubmit()">Search</button>
</div>


<div>
    <table>
        <thead>
            <th>TimeSheet Id :</th>
            <th>Date :</th>
            <th>Start Time :</th>
            <th>End Time :</th>
        </thead>
        <tbody>
            <tr *ngFor="let timesheet of timesheets">
                <th scope="row">{{ timesheet.timesheetId }}</th>
                <td>{{timesheet.date | date: 'yyyy/MM/dd'}}</td>
                <td> {{ timesheet.fromtime }} </td>
                <td> {{ timesheet.totime }} </td>
                  <td><button (click)="onDetails(timesheet.timesheetId)">Details</button></td>
                
            </tr>
        </tbody>
    </table>
 </div> 


  






<hr>
<h2>New Time Sheet :</h2>

<addtimesheet></addtimesheet>


<!-- <button (click)="goToTimesheet()">Add Timesheet</button> -->
<hr>