<div>
    <table>
        <thead>
            <th>TimeSheet Id :</th>
            <th>Name :</th>
            <th>Project Title :</th>
            <th>Task Title :</th>
            <th>Start Time :</th>
            <th>End Time :</th>
        </thead>
        <tbody>
            <tr *ngFor="let timesheet of timesheets">
                <th scope="row">{{ timesheet.timesheetId }}</th>
                <th>{{timesheet.empFirstName}}{{timesheet.empLastName}}</th>
                <td> {{ timesheet.projectTitle }} </td>
                <td> {{ timesheet.taskTitle }} </td>
                <td> {{ timesheet.fromtime }} </td>
                <td> {{ timesheet.totime }} </td>
                <!-- <td><button (click)="onSelecte(movie.id)">Details</button></td> -->
                <td><button (click)="OnEdit(timesheet.timesheetId)">Edit</button></td>
                <td><button (click)="OnDelete(timesheet.timesheetId)">Remove</button></td>
            </tr>
        </tbody>
    </table>
 </div> 


  








