<p><b>For inserting new Project please fill below the form.</b></p>

<form #insertForm="ngForm" (ngSubmit)="addProject(insertForm.value)">
    <table>
        <!-- <tr>
            <td><label><b>Employee Id:</b></label></td>
            <td><input type="number" name="id" [(ngModel)]="employee.id"></td>
        </tr> -->

        <tr>
            <td><label><b>Title:</b></label></td>
            <td><input type="text" name="title" [(ngModel)]="project.title"></td>
        </tr>
        <tr>
            <td><label><b>Start Date:</b></label></td>
            <td><input type="text" name="startdate" [(ngModel)]="project.startDate"></td>
        </tr>
        <tr>
            <td><label><b>End Date :</b></label></td>
            <td><input type="text" name="enddate" [(ngModel)]="project.endDate"></td>
        </tr>
        <tr>
            <td><label><b>Description :</b></label></td>
            <td><input type="text" name="description" [(ngModel)]="project.description"></td>
        </tr>
        <tr>
            <td><label><b>Status :</b></label></td>
            <select name="status" [(ngModel)]="project.status" required>
                <option value="Pending">Pending</option>
                <option value="In-Progress">In-Progress</option>
                <option value="Completed">Completed</option>
                <option value="Error">Error</option> 
            </select>
        </tr>   
        <tr>
            <button type="submit">Add New Project </button>
        </tr>
    </table>
</form>


<div *ngIf="status">
    <p>Project Added successfully</p>
</div>

<div *ngIf="status==false">
    <p>error while updating Project</p>
</div>


           
            
               