<p><b>For inserting new Employee please fill above form.</b></p>


<form #insertForm="ngForm" (ngSubmit)="addEmployee(insertForm.value)">
    <table>
        <!-- <tr>
            <td><label><b>Employee Id:</b></label></td>
            <td><input type="number" name="id" [(ngModel)]="employee.id"></td>
        </tr> -->
        <tr>
            <td><label><b>First Name:</b></label></td>
            <td><input type="text" name="firstName" [(ngModel)]="employee.firstName"></td>
        </tr>
        <tr>
            <td><label><b>Last Name:</b></label></td>
            <td><input type="text" name="lastName" [(ngModel)]="employee.lastName"></td>
        </tr>
        <tr>
            <td><label><b>Birth Date:</b></label></td>
            <td><input type="text" name="birthdate" [(ngModel)]="employee.birthDate"></td>
        </tr>
        <tr>
            <td><label><b>Hire Date :</b></label></td>
            <td><input type="text" name="hiredate" [(ngModel)]="employee.hireDate"></td>
        </tr>
        <tr>
            <td><label><b>Contact Number :</b></label></td>
            <td><input type="text" name="contactnumber" [(ngModel)]="employee.contactNumber"></td>
        </tr>
        <tr>
            <td><label><b>Account Number :</b></label></td>
            <td><input type="text" name="accountNumber" [(ngModel)]="employee.accountNumber"></td>
        </tr>
        <tr>
            <td><label><b>User Id :</b></label></td>
            <td><input type="number" name="userid" [(ngModel)]="employee.userId"></td>
        </tr>
           
        <!-- <tr>
            <button type="submit">Add New Employee</button>
        </tr> -->
    </table>
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-md-3">
                    <input type="file" id="img" name="img" accept="image/png, image/jpeg"  #file  (change)="uploadFile(file.files)" style="display:none;" multiple>
                    <button type="button"  (click)="file.click()">Upload File</button>
                </div>
                    <br>
                    <div class="col-md-4">
                        <span class="upload" *ngIf="progress > 0">
                        {{progress}}%
                        </span>
                        <span class="upload" *ngIf="message">
                        {{message}}
                        </span>
                    </div>
                </div>
                <input type="submit" value="submit">
</form>


<div *ngIf="status">
    <p>Employee Added successfully</p>
</div>

<div *ngIf="status==false">
    <p>error while updating Employee</p>
</div>

