.scrollable-list {
    max-height: 350px; 
    overflow-y: auto;
}

.card-container {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
  }
  
  .card {
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
    padding: 10px;
    width: 200px; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }

  .hover-link {
    text-decoration: none; 
    /* color: blue;  */
    cursor: pointer; 
}
.hover-link:hover {
    text-decoration: underline; 
    color: blue;

}