<div class="container">
    <h2 class="mb-4">Task Details</h2><hr>
    <div class="card bg-light text-dark">
      <div class="card-body">
        <p class="card-text"><strong>Task:</strong> {{ taskDetail.task }}</p>
        <p class="card-text"><strong>Status:</strong> {{ taskDetail.status }}</p>
        <p class="card-text" (click)="selectProject(taskDetail.projectId)"><strong>Project Name:</strong><span class="hover-link">{{ taskDetail.projectName }}</span></p>
        <button  class="btn btn-primary" (click)="selectTask(taskDetail.taskId)">More Task Details</button>
        <div *ngIf="selectedTaskId !== null">
        <br> 
          <app-taskdetailsinfo [taskId]="selectedTaskId"></app-taskdetailsinfo>
        </div>    
    </div>
  </div>
  