<div class="container mt-4">
    <h2>Task Details</h2>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Task ID: {{ taskDetail.id }}</h5>
        <p class="card-title"><strong>Project Name:</strong>{{ taskDetail.projectName }}</p>
        <p class="card-text"><strong>Task:</strong> {{ taskDetail.title }}</p>
        <p class="card-text"><strong> Date:</strong> {{ taskDetail.date | date }}</p>
        <p class="card-text"><strong>Description:</strong> {{ taskDetail.description }}</p>
        <p class="card-text"><strong>From Time:</strong> {{ taskDetail.fromTime }}</p>
        <p class="card-text"><strong>To Time:</strong> {{ taskDetail.toTime }}</p>

      </div>
    </div>
  </div>
  