<div class="container">
    <h2> Not Started Activities</h2>
    <div class="card">
        <table class="table-bordered text-center">
            <thead>
                <tr>
                    <th>AssignedDate</th>
                    <th>ActivityTitle</th>
                    <th>Status</th>
                    <th>ProjectName</th>
                    <th>ActivityType</th>
                    <th>DueDate</th>
                    <!-- <th>AssignedBy</th> -->
                   </tr>
            </thead>
            <tbody *ngFor="let activity of employeeWorks">
                <tr>
                    <td> {{activity.assignDate |date}}</td>
                    <td>{{activity.title}}</td>
                  
                    <td (click)="onChange(activity.id)"><a>{{activity.status}}</a></td>
                    
                    <td>{{activity.projectName}}</td>
                    <td>{{activity.projectWorkType}}</td>
                    <td>{{activity.dueDate|date}}</td>
                    <!-- <td><a href="#">{{employee?.firstName}} {{employee?.lastName}}</a></td> -->
                </tr>
            </tbody>
        </table>
    </div>




    <form [formGroup]="activityform" (ngSubmit)="update()" *ngIf="isFalse">

        <div>
          <label for="status">status:</label>
          <select id="status" name="status" formControlName="status">
            <option  value="inprogress">InProgress</option>
            <option  value="completed">Completed</option>
          </select>
        </div>
        <div>
            <button type="submit">Submit</button>
         </div>
      
    </form>