<!-- <div class="row">
    <div class="d-flex justify-content-start ">
        <div class="card m-3" *ngFor="let timesheet of timeSheets">
            <div class="p-2" (click)="onSelectedTimeSheetId(timesheet.id)">
                <p> Date :{{timesheet.date | date}}</p>
                <p> Status :{{timesheet.status}}</p>
               
            </div>
        </div>
    </div>
</div>
 -->

<div class="container">
    <h2> TimeSheet List</h2>
    <div class="card">
        <table class="table-bordered text-center">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Status Change Date</th>
                </tr>
            </thead>
            <tbody *ngFor="let timesheet of timeSheets">
                <tr>
                    <a href="#">
                        <td (click)="onSelectedTimeSheetId(timesheet.id)"> {{timesheet.timeSheetDate | date}}</td>
                    </a>
                    <td> {{timesheet.status}}</td>
                    <td>{{timesheet.statusChangedDate |date}}</td>
                </tr>
            </tbody>
        </table>
    </div>