<p>update-password works!</p>
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fs-5">Set New Password</h5>

            <form #updatePasswordForm="ngForm" (ngSubmit)="onUpdatePassword(updatePasswordForm.value)">
                
            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="oldpassword"
                name="Old Password"
                placeholder="Old Password"
                [(ngModel)]="credential.oldPassword"
              />
              <label for="oldpassword"> Old Password</label>
            </div>
            <div class="form-floating mb-3">
                <input
                  type="password"
                  class="form-control"
                  id="newpassword"
                  name="newpassword"
                  placeholder="New Password"
                  [(ngModel)]="credential.newPassword"
                />
                <label for="newpassword"> New  Password</label>
              </div>
           
      
            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="confirmpassword"
                name="confirmpassword"
                placeholder="Password"
                [(ngModel)]="confirmPassword"
              />
              <label for="confirmpassword"> Confirm Password</label>
            </div>

            <div class="d-grid">
              <button class="btn btn-success fw-bold" style="color: inherit; text-decoration:none;display: block;" type="submit">
              Submit
              </button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>