<div>
    <div *ngIf="timesheet && timesheet.timesheetId !=0">
      <table>
        <thead>
          <th>TimesheetId </th>
          <th>Project Title</th>
          <th>Task Title </th>
          <th>Date </th>
          <th>From Time </th>
          <th>To Time</th>
          <th>Details</th>
        </thead>
        <tbody>
          <tr *ngIf="timesheet">
            <td scope="row">{{ timesheet.timesheetId }}</td>
            <td>{{timesheet.projectTitle}}</td>
            <td>{{ timesheet.taskTitle}}</td>
            <td> {{ timesheet.date | date: 'yyyy/MM/dd' }} </td>
            <td> {{ timesheet.fromtime}} </td>
            <td>{{timesheet.totime}}</td>
            <td><button type="submit" (click)="onUpdateClick(timesheet.timesheetId)">Update</button>
              |
              <button type="submit" (click)="delete()">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
  </div>
