<h3>Leave Allocations For Role {{leave.roleId}}</h3>
<div class="container">
    <div class="card col-6">
    <table class="text-center">
            <thead>
                <tr>
                    <th>Role</th>
                    <th>Sick</th>
                    <th>Casual</th>
                    <th>Paid</th>
                    <th>Unpaid</th>
                  
                   </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{leave.roleId}}</td>
                    <td>{{leave.sick}}</td>
                    <td>{{leave.casual}}</td>
                    <td>{{leave.paid}}</td>
                    <td>{{leave.unpaid}}</td>
                </tr>
            </tbody>
    </table>
</div> 


