<div class="container">
    <div class="row">
      <div class="col-md-2">
        <br>
        <h4>CreatedOn:</h4>
        <div class="filter-card">
          <div class="time-period-options">
            <span class="time-period-option" [class.active]="selectedTimePeriod === 'today'" (click)="GetfilteredTasksOfProjects('today')">Today</span>
            <span class="time-period-option" [class.active]="selectedTimePeriod === 'yesterday'" (click)="GetfilteredTasksOfProjects('yesterday')">Yesterday</span>
            <span class="time-period-option" [class.active]="selectedTimePeriod === 'lastweek'" (click)="GetfilteredTasksOfProjects('lastweek')">Last Week</span>
            <span class="time-period-option" [class.active]="selectedTimePeriod === 'lastmonth'" (click)="GetfilteredTasksOfProjects('lastmonth')">Last Month</span>
            <span class="time-period-option" [class.active]="selectedTimePeriod === 'lastyear'" (click)="GetfilteredTasksOfProjects('lastyear')">Last Year</span>
          </div>
        </div>  
      </div>
      <div class="col-md-6">
        <h2>UnAssignedTasks Of {{projectName}}</h2>
        <div class="scrollable-list">
        <table class="table table-secondary">
          <thead class="table-active">
            <tr>
              <th>Task</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of unAssignedTasks">
              <td>{{ task.title }}</td>
              <td>{{ task.status }}</td>
              <td>
                <button class="btn btn-primary" (click)="viewDetails(task.taskId)">Details</button>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
      <div class="col-md-4">
        <div *ngIf="selectedTaskId !== null">
          <app-taskdetails [taskId]="selectedTaskId"></app-taskdetails>
        </div>
      </div>
    </div>
  </div>
  