<!-- <div class="main-content">
  <div class="container-fluid">


    
    <div class="header bg-gradient-danger py-7 py-lg-8">
      <div class="container t">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6">
              <h1 class="text-white">Welcome!</h1>
              <p class="text-lead text-light">Use these awesome forms to  create new account for your project.</p>
            </div>
          </div>
        </div>
      </div>

   
                              
        <div>
          <div class="container">
            <div class="row">
              <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                  <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fs-5">New Account</h5>
                    <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm.value)" >
                    
                      <div class="form-floating mb-3 text-center">
                      <label for="email">Email</label>
                      <div class="inputBox">
                        <input id="email" type="text" class="text-center" name="Email" placeholder="Email" [(ngModel)]="user.email">  
                      </div>
                    </div>


                    <div class="form-floating mb-3 text-center">
                      <label for="contactNumber"> Contact Number</label>
                      <div class="inputBox">
                        <input id="ContactNumber" type="text" class="text-center" name="ContactNumber" placeholder="Contact Number" [(ngModel)]="user.contactNumber">  
                      </div>
                    </div>

                    <div class="form-floating mb-3 text-center">
                      <label for="password">Password</label>
                      <div class="inputBox">
                        <input id="password" type="password" class="text-center" name="Password" placeholder="Password" [(ngModel)]="user.password">  
                      </div>
                    </div>

                    <div class="form-floating mb-3 text-center">
                      <label for="confirmpassword"> Confirm Password</label>

                      <div class="inputBox">
                        <input id="confirmpassword" type="password" class="text-center" name="confirmpassword" placeholder="Password" [(ngModel)]="confirmPassword">  
                      </div>
                    </div>
                    
                    <br>
                    <div class="d-grid text-center">
                      <button class="btn btn-success fw-bold"  type="submit">Register</button>
                    </div>
                  </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

</div>
</div>
 -->
