
<app-getproject [projectId]="projectId" (sendProject)="receiveProject($event)"></app-getproject>

<div  *ngIf="project && project.id !=0">
  <table>
      <tr>
          <td><label>Project Title :</label></td>
          <td><input type="text" name="title" #title="ngModel" [(ngModel)]="project.title"></td>
      </tr>
    <tr>
        <td><label>Start Date :</label></td>
        <td><input type="text" name="startDate" #startDate="ngModel" [(ngModel)]="project.startDate"></td>
    </tr>
    <tr>
        <td><label>End Date :</label></td>
        <td><input type="text" name="endDate" #endDate="ngModel" [(ngModel)]="project.endDate"></td>
    </tr>
    <tr>
        <td><label>Description :</label></td>
        <td><input type="text" name="description" #description="ngModel" [(ngModel)]="project.description"></td>
    </tr>
   
  <tr>
          <button (click)="updateProject()">Update</button>
      </tr>
  </table>   
  </div>
