<p>updateproject works!</p>

<app-getproject [projectId]="projectId" (sendProject)="receiveProject($event)"></app-getproject>

<div  *ngIf="project && project.projId !=0">
  <table>
      <tr>
          <td><label>Project Name :</label></td>
          <td><input type="text" name="projectName" #projectName="ngModel" [(ngModel)]="project.projName"></td>
      </tr>
      <tr>
        <td><label>Planed Start Date :</label></td>
        <td><input type="text" name="psDate" #psDate="ngModel" [(ngModel)]="project.planedStartDate"></td>
    </tr>
    <tr>
        <td><label>Planed End Date :</label></td>
        <td><input type="text" name="peDate" #peDate="ngModel" [(ngModel)]="project.planedEndDate"></td>
    </tr>
    <tr>
        <td><label>Actual Start Date :</label></td>
        <td><input type="text" name="asDate" #asDate="ngModel" [(ngModel)]="project.actualStartDate"></td>
    </tr>
    <tr>
        <td><label>Actual End Date :</label></td>
        <td><input type="text" name="aeDate" #aeDate="ngModel" [(ngModel)]="project.actualEndDate"></td>
    </tr>
    <tr>
        <td><label>Description :</label></td>
        <td><input type="email" name="description" #description="ngModel" [(ngModel)]="project.description"></td>
    </tr>
   

      <tr>
          <button (click)="updateProject()">Update</button>
      </tr>
  </table>   
  </div>
