


<div class="container">
    <h2> Project Work Details</h2>
    <div class="col-md-4">
    <div class="card">
        <table class="table-bordered text-center">
            <thead>
                <tr>
                    <th>AssignedDate</th>
                    <th>Status</th>
                    <th>description</th>
                    <th>projectWorkType</th>
                    <th>assignedBy</th>
                    <th>assignedTo</th>
                    <th>DueDate</th>
                   </tr>
            </thead>
            <tbody >
                <tr *ngIf="employeeWork">
                    <td> {{employeeWork.assignDate |date}}</td>
                    <td> {{employeeWork.status}}</td>
                    <td> {{employeeWork.description}}</td>
                    <td> {{employeeWork.projectWorkType}}</td>
                    <td> {{employeeWork.assignedByEmployee}}</td>
                    <td> {{employeeWork.assignedToEmployee}}</td>
                    <td> {{employeeWork.dueDate |date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>