
<h3 class="text-center col-6" >Leave Application Form</h3>
<form [formGroup]="leaveForm" (ngSubmit)="onSubmit()">
      <div class="form-group col-6">
        <label for="fromDate">From Date:</label>
        <input type="date" class="form-control" id="fromDate" name="fromDate" formControlName="fromDate">
      </div>
      <div class="form-group col-6">
        <label for="date">To Date:</label>
        <input type="date" class="form-control" id="toDate" name="toDate" formControlName="toDate">
      </div>
      <div class="form-group col-6">
        <label for="leaveType">Leave Type:</label>
      <select name="leaveType" class="form-control" id="leaveType" formControlName="leaveType" >
        <option *ngFor="let leave of leaveType">{{ leave }}</option>
      </select>
      </div>
      <br>
      <div>
        <button type="submit">Submit</button>
      </div>
</form>