<app-pending-leave></app-pending-leave>
<app-consumed-leave></app-consumed-leave>
<app-total-leave></app-total-leave>
<div style="cursor: pointer; text-decoration: underline ; color:  #0000EE;" [routerLink]="['../../leave/add']">Apply leave </div>

<h4>My Applied leaves:</h4>
<div class="container">
    <div class="card col-6">
    <table class="table-bordered text-center">
            <thead>
                <tr>
                    <th>LeaveType </th>
                    <th>Application Date</th>
                    <th>From Date</th>
                    <th>To Date</th> 
                   </tr>
            </thead>
            <tbody *ngFor="let employee of appliedLeaves">
                <tr>
                    <td>{{employee.leaveType}}</td>
                    <td>{{employee.applicationDate |date}}</td>
                    <td>{{employee.fromDate |date}}</td>
                    <td>{{employee.toDate |date}}</td>  
                </tr>
            </tbody>
    </table>
</div> 