<!-- <label>EmployeeId :</label>
<input type="number" name="employeeId" [(ngModel)]="employeeId" >
<button>Search</button>

<app-employeedetails [employeeId]="employeeId"></app-employeedetails> -->
<label>EmployeeId :</label>
<input type="number" name="employeeId" [(ngModel)]="searchString" >
<button (click)="onSearch()" >Search</button>

<app-employeedetails [employeeId]="employeeId"></app-employeedetails>
<app-monthlysalarystructure [employeeId]="employeeId"></app-monthlysalarystructure>
<br>
<button (click)="paySalary(employeeId)"> Process Payment  </button>