 
 <select name="project" id="project" (change)="onChange($event)">
    <option *ngFor="let project of projects" [value]="project.id">{{project.title}}</option>
  </select>

  <div *ngIf="selectedProject">
  <div class="container">
  <h4>All AssignedEmployee of project</h4>
    <div class="card">
<table class="table-bordered text-center">
    <tr>
        <th>FullName</th>
        <th>Role</th>
        <th>AssignDate</th>
    </tr>
    <tr *ngFor="let employee of assignedEmployees">
        <td>{{employee.fullName}}</td>
        <td>{{employee.membership}}</td>
        <td>{{employee.assignDate | date}}</td>
    </tr>
</table>
</div>
</div>
</div>
