<p>timerecord-list works!</p>


<div>
    <table>
      <thead>
        <th>TimeRecord Id :</th>
        <!-- <th>EmpId</th> -->
        <th>Date :</th>
        <th>TotalTime :</th>
        
      </thead>
      <tbody>
        <tr *ngFor="let timerecord of timerecords">
          <th scope="row">{{ timerecord.timeRecordId }}</th>
          <!-- <td> {{ timerecord.empId }} </td> -->
          <td>{{timerecord.date }}</td>
          <td> {{ timerecord.totalTime }} </td>
         
        <td><button >Details</button></td> 
        </tr>
      </tbody>
    </table>
  </div>
  <br><br>

 