<div class="container" *ngIf="task !== undefined">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">{{ task.title }}</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <p><strong>Project:</strong> {{ projectTitle }}</p>
                <form >
                    <div>
                        <label for="status">Status:</label>
                        <select id="status" [(ngModel)]="task.status" name="status" required>
                          <option value="Pending">Pending</option>
                          <option value="In-Progress">In-Progress</option>
                          <option value="Completed">Completed</option>
                        </select>
                      </div>
                      <br>
      <button type="submit" class="btn btn-warning" (click)="showConfirmDialog()">Update Status</button>

                </form>
                <br>
                <p><strong>Date:</strong> {{ task.date }}</p>
              </div>
              <div class="col-md-6">
                <p><strong>From Time:</strong> {{ task.fromTime |date  }}</p>
                <p><strong>To Time:</strong> {{ task.toTime }}</p>
              </div>
            </div>
            <p><strong>Description:</strong>{{ task.description }}</p><br>
          </div>
        </div>
      </div>
    </div>