<p><b>For inserting new Yask please fill below the form.</b>For inserting new Project please fill below the form.</p>

<form #insertForm="ngForm" (ngSubmit)="addTask(insertForm.value)">
    <table>
        <!-- <tr>
            <td><label><b>Employee Id:</b></label></td>
            <td><input type="number" name="id" [(ngModel)]="employee.id"></td>
        </tr> -->
        <tr>
            <td><label><b>Project Id:</b></label></td>
            <td><input type="number" name="projectid" [(ngModel)]="task.projectid"></td>
        </tr>
        <tr>
            <td><label><b>Title:</b></label></td>
            <td><input type="text" name="title" [(ngModel)]="task.title"></td>
        </tr>
        <tr>
            <td><label><b>Date:</b></label></td>
            <td><input type="text" name="date" [(ngModel)]="task.date"></td>
        </tr>
        <tr>
            <td><label><b>From Time:</b></label></td>
            <td><input type="text" name="fromtime" [(ngModel)]="task.fromtime"></td>
        </tr>
        <tr>
            <td><label><b>To Time :</b></label></td>
            <td><input type="text" name="totime" [(ngModel)]="task.totime"></td>
        </tr>
        <tr>
            <td><label><b>Description :</b></label></td>
            <td><input type="text" name="description" [(ngModel)]="task.description"></td>
        </tr>
        <tr>
            <button type="submit">Add New Task </button>
        </tr>
    </table>
</form>


<div *ngIf="status">
    <p>Project Added successfully</p>
</div>

<div *ngIf="status==false">
    <p>error while updating Project</p>
</div>

