<div>
    <h4 class=" container-fluid">
        {{displayMonth}}

    </h4>


    <div>
        <input type="button" class="mx-2" (click)="setCurrentMonth()" value="today" />
        <input type="button" class="mx-2" (click)="decreaseMonth()" value="<" />
        <input type="button" class="mx-2" (click)="increaseMonth()" value=">" />
    </div>
</div>

<table class="table-bordered w-100" *ngIf="calendar">
    <thead>
        <tr>
            <th class="col-1">Monday</th>
            <th class="col-1">Tuesday</th>
            <th class="col-1">Wednesday</th>
            <th class="col-1">Thursday</th>
            <th class="col-1">Friday</th>
            <th class="col-1">Saturday</th>
            <th class="col-1">Sunday</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of calendar | chunk: 7; let i = index">
            <ng-container *ngFor="let c of row; let j = index">
                <td class="calendar-day "
                    [ngClass]="{ 'bg-primary': isDateClicked(c.date) ,'red-date': isholiday(c.date),'past-date': c.isPastDate}"
                    (click)="onClick(c.date)">
                    <div [ngClass]="{'blue-date': c.isToday } ">
                        <strong>{{c.date.getDate()}}</strong> <strong
                            *ngIf="c.isToday || (i==0 && j==0) || (c.date.getDate() == 1)">
                            {{monthNames[c.date.getMonth()]}}</strong>
                        <ng-container *ngFor="let project of projects">
                            <div class="my-1"
                                [ngStyle]="{'border': isProjectOngoing(c.date, project.projectName) ? '4px solid '+project.color : ''}"
                                Tooltip="
                                <h6> Name: {{project.projectName}}</h6>
                                <h6>StartDate: {{project.startDate}}</h6>
                                <h6>EndDate: {{project.endDate}}</h6>">
                            </div>
                        </ng-container>
                    </div>
                </td>
            </ng-container>
        </tr>
    </tbody>
</table>