<form #insertForm="ngForm" (ngSubmit)="addTimesheet(insertForm.value)">

    <div>
        <table>
            <thead>
                <th>Project </th>
                <th>Task Id</th>
                <th>Date </th>
                <th>Start Time </th>
                <th>End Time </th>
                <th>Submit</th>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">
                        <select name="projectId" [(ngModel)]="timesheetInfo.projectId" required>
                            <option *ngFor="let project of projects" [value]="project.id">{{ project.title }}</option>
                        </select>
                    </td>
                    <td><select name="taskId" [(ngModel)]="timesheetInfo.taskId" required>
                            <option *ngFor="let task of tasks" [value]="task.id">{{task.title}}</option>
                        </select></td>
                    <td><input type="date" name="date" [(ngModel)]="timesheetInfo.date"></td>
                    <td><input type="time" name="fromtime" [(ngModel)]="timesheetInfo.fromtime"></td>
                    <td><input type="time" name="totime" [(ngModel)]="timesheetInfo.totime"></td>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </tbody>
        </table>
    </div>

</form>


<div *ngIf="status">
    <p>TimeSheet inserted successfully</p>
</div>

<div *ngIf="status==false">
    <p>error while inserting timesheet</p>
</div>