<form [formGroup]="activityform" (ngSubmit)="onSubmit()">
    <p>
      <label for="title">Title :</label>
      <input type="text" id="title" name="title" formControlName="title">
    </p>
   
    <p>
      <label for="activitytype">Activity Type :</label>
      <select id="activitytype" name="activitytype" formControlName="activitytype">
        <option value="task">task</option>
        <option value="userstory">userstory</option>
      </select>
    </p>
   
    <p>
      <label for="description">Description :</label>
      <input type="text" id="description" name="description" formControlName="description">
    </p>

  
     <p>
      <label for="assigndate">Assign Date :</label>
      <input type="date" id="assigndate" name="assigndate" formControlName="assigndate">
     </p>
      <p>
        <label for="startdate">Start Date :</label>
        <input type="text" id="startdate" name="startdate" formControlName="startdate">
      </p>

      <p>
        <label for="duedate">Due Date :</label>
        <input type="date" id="duedate" name="duedate" formControlName="duedate">
       </p>

       <p>
        <label >Project : </label>
        <select id="projectid" name="projectid"  formControlName="projectid"  >
            <option *ngFor="let project of projects" [value]="project.id">{{project.title}}</option>
          </select>
      </p> 
      <p>
        <label for="assignedby">Assignedby </label>
        <input type="text" id="assignedby" name="assignedby" formControlName="assignedby">
      </p> 
      <p>
        <label for="assignedto"  >Assigned To :</label>
        <input type="text" id="assignedto" name="assignedto" formControlName="assignedto">
      </p>
      <!-- <p>
        <label for="createddate">Created Date </label>
        <input type="text" id="createddate" name="createddate" formControlName="createddate">
      </p> -->
   
    <!-- <p>
      <label for="status" >Status :</label>
      <input type="text" id="lname" name="lname"   disabled  >
    </p> -->
   
    <p>
      <button type="submit" >Submit</button>
    </p>
</form>
