<p> Date : {{timeSheet?.timeSheetDate |date}}</p>
<p> Status:{{timeSheet?.status |titlecase}}</p>
<p> Employee Name:{{timeSheet?.employeeName}}</p>

<table class="table-bordered">
    <thead>
        <tr>
            <th>Category</th>
            <th>work</th>
            <th>StartTime</th>
            <th>EndTime</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody *ngFor="let timeSheetDetail of timeSheet?.timeSheetDetails">
        <tr>
            <td>{{timeSheetDetail.workCategory }}</td>
            <td>{{timeSheetDetail.work }}</td>
            <td>{{timeSheetDetail.fromTime }}</td>
            <td>{{timeSheetDetail.toTime}}</td>
            <td>{{timeSheetDetail.durationInHours}}</td>
        </tr>

    </tbody>

</table>

<p>Total Hours : {{totalminutes}}</p>

<button class="mx-1" (click)="onApprove()"> Approve </button>
<button class="mx-1" (click)="onReject()">Reject </button>