<h4 class="text-center col-6" >Enter Leave Required </h4>
<form (ngSubmit)="onSubmit()">

   <div class="row">
    <div class="form-group col-2">
        <label for="leaveType">Leave Type:</label>
      </div>
      <div class="col-2">
        <select name="leaveType" class="form-control"  id="leaveType" [(ngModel)]="leave.leaveType" >
          <option *ngFor="let leave of leaveType">{{leave}}</option>
        </select>
      </div>
      
    </div>
   
    <div class="row">
        <div class="form-group col-2">
          <label for="fromDate"> Date:</label>
          </div>
          <div class="col-4">
            <input type="date" class="form-control" id="fromDate" [(ngModel)]="leave.fromDate"   name="fromDate" (change)="calculateDays()">
          </div>
    
  
      <div class="form-group col-2">
          <label for="toDate">To:</label>
          </div>
          <div class="col-4">
          <input type="date" class="form-control" id="toDate" [(ngModel)]="leave.toDate" name="toDate" (change)="calculateDays()">
         </div>
        </div>
  
  
   
    <div class="row">
    <div  class ="col-2" *ngIf="dateDifference !== null">
      <div class="form-group">
        <p > <b>Leave:</b> {{ dateDifference }} days </p>
      </div>
    </div>
  </div>
    <div>
        <button type="submit">Apply for leave</button>
    </div>
    
</form>