<h4 class="text-center col-6" >Enter Leave Required </h4>
<form (ngSubmit)="onSubmit()">

    <div class="form-group col-md-2">
        <label for="leaveType">Leave Type:</label>
        <select name="leaveType" class="form-control" id="leaveType" [(ngModel)]="leave.leaveType" >
          <option *ngFor="let leave of leaveType">{{leave}}</option>
        </select>
      </div>
 
   
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="fromDate"> Date:</label>
          <input type="date" class="form-control" id="fromDate" [(ngModel)]="leave.fromDate"   name="fromDate" (change)="calculateDays()">
        </div>
      </div>
  
      <div class="col-6">
        <div class="form-group">
          <label for="toDate">To:</label>
          <input type="date" class="form-control" id="toDate" [(ngModel)]="leave.toDate" name="toDate" (change)="calculateDays()">
      </div>
    </div>
   
      
    <div  class ="col-6" *ngIf="dateDifference !== null">
      <div class="form-group">
        <p > <b>Leave: {{ dateDifference }} days </b></p>
      </div>
    </div>
    <div>
        <button type="submit">Apply for leave</button>
    </div>
    </div>
</form>