      <!-- <li><a routerLink="home" routerLinkActive="router-link-active">Home</a></li>
      <li><a routerLink="about" routerLinkActive="router-link-active">About</a></li>
      <li><a routerLink="contact" routerLinkActive="router-link-active">Contact</a></li>- -->
      <!-- <li><a routerLink="login" routerLinkActive="router-link-active">Login</a></li> -->
      <!-- <li><a routerLink="registartion" routerLinkActive="router-link-active">Register</a></li> -->
      <nav>
            <a routerLink="/">Home</a>
            <a routerLink="/about">About</a>
          </nav>
          <router-outlet></router-outlet>