      <!-- <li><a routerLink="home" routerLinkActive="router-link-active">Home</a></li>
      <li><a routerLink="about" routerLinkActive="router-link-active">About</a></li>
      <li><a routerLink="contact" routerLinkActive="router-link-active">Contact</a></li>- -->
      <!-- <li><a routerLink="login" routerLinkActive="router-link-active">Login</a></li> -->
      <!-- <li><a routerLink="registartion" routerLinkActive="router-link-active">Register</a></li> -->
      <nav>
            <a routerLink="/">Home</a>
            <a routerLink="/about">About</a>
          </nav>
<!--           
          <router-outlet></router-outlet> -->


          
<h4>To Finding Previous deta of certain filds then please click on it</h4>
<button (click)="employeeList()">Employees List</button>
|
<button (click)="projectList()">Project List</button>
|
<button (click)="tasksList()">Task List</button>
<hr>

<div class="">
    <table>
      <thead>
        <th>Project Id </th>
        <th>Title</th>
        <!-- <th>Start Date</th>
        <th>End Date</th> -->
        <th>Status</th>
        <th>Details</th>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects">
          <td scope="row">{{ project.id }}</td>
          <td>{{project.title}}</td>
          <!-- <td>{{project.startDate }}</td>
          <td>{{project.endDate}}</td> -->
          <!-- <td>{{project.description}}</td> -->
          <td>{{project.status}}</td>
          <td><button (click)="onDetails(project.id)">Details</button></td>
        </tr>
      </tbody>
    </table>
  </div>