<h2> Update TimeSheetEntry</h2>
<label>Activity:</label>
<select [(ngModel)]="timeSheetEntry.workCategory">
    <option *ngFor="let activity of activitiyTypes;let i=index" [value]="activity">{{activity |titlecase}}</option>
</select><br>
<label>Title:</label>
<input type="text" [(ngModel)]="timeSheetEntry.work"> <br /><br>

<label>Description:</label>
<textarea name="" id="" cols="30" rows="1" [(ngModel)]="timeSheetEntry.description"></textarea><br>
<label>From :</label>
<input type="time" name="fromTime" [(ngModel)]="timeSheetEntry.fromTime" (change)="getDuration()">
<label>TO:</label>
<input type="time" name="toTime" [(ngModel)]="timeSheetEntry.toTime" (change)="getDuration()"> <br /> <br />


<p>duration:{{timeSheetEntry.durationInHours}}</p>
<br>
<button type="submit" (click)="onClick()">Update</button>