<p>edit works!</p>

<!-- <div class="main-content">

    <div class="container-fluid">
 
        <form #insertForm="ngForm" (ngSubmit)="insertScreen(insertForm.value)">
 
            <div class="mb-3">
 
                <label><b>Movie Id :</b></label>  
 
                <select   class="form-control form-control-lg form-select" name="movieId" [(ngModel)]="screen.movieId" required>
 
                  <option *ngFor="let movie of movies" [ngValue]="movie.id">{{ movie.title | titlecase}}</option>
 
                </select> <br>
 
                <label><b>Theater Id :</b></label>
 
                <select   class="form-control form-control-lg form-select" name="theaterId" [(ngModel)]="screen.theaterId" required>
 
                  <option *ngFor="let theater of theaters" [ngValue]="theater.id">{{ theater.name | titlecase}}</option>
 
                </select>
 
                <br>
 
                <label><b>Show Timing :</b></label> <input type="text" name="showTiming" [(ngModel)]="screen.showTiming"> <br>
 
                 <label><b>Available Seats :</b></label> <input type="number" name="availableSeats" [(ngModel)]="screen.availableSeats"> <br>
 
                <button type="submit" class="btn btn-success">Insert</button>
 
            </div>
 
        </form>
 
    </div>
 
 </div> -->