<p>edit works!</p>

<gettimesheet [timesheetId]="timesheetId" (sendTimesheet)="reciveTimesheet($event)" hidden></gettimesheet>

<form #insertForm="ngForm" (ngSubmit)="updateTimesheet(insertForm.value)">
    <table>
        <tr>
            <td><label><b>Timesheet Id:</b></label></td>
            <td><input type="timesheetId" name="timesheetId" [(ngModel)]="timesheetInfo.timesheetId"></td>
        </tr>
        <tr>
            <td><label><b>Project :</b></label></td>   
            <select name="projectId" [(ngModel)]="timesheetInfo.projectId" required>
                <option *ngFor="let project of projects" [value]="project.id">{{ project.title }}</option>
            </select>
        </tr>
        <tr>
            <td><label><b>Task Id :</b></label></td>
            <select name="taskId" [(ngModel)]="timesheetInfo.taskId" required>
                <option *ngFor="let task of tasks" [value]="task.id">{{task.title}}</option>
            </select>
        </tr>
        <tr>
            <td><label><b>Employee Id :</b></label></td>
            <select name="employeeId" [(ngModel)]="timesheetInfo.employeeId" required>
                <option *ngFor="let employee of employees" [value]="employee.id">{{ employee.firstName
                    }}{{employee.lastName }}</option>
            </select>
        </tr>
        <tr>
            <td><label><b>Date :</b></label></td>
            <td><input type="text" name="date" [(ngModel)]="timesheetInfo.date"></td>
        </tr>
        <tr>
            <td><label><b>Start Time :</b></label></td>
            <td><input type="time" name="fromtime" [(ngModel)]="timesheetInfo.fromtime"></td>
        </tr>
        <tr>
            <td><label><b>End Time :</b></label></td>
            <td><input type="time" name="totime" [(ngModel)]="timesheetInfo.totime"></td>
        </tr>
        <tr>
            <button type="submit">Update</button>
        </tr>
    </table>
</form>


        <div *ngIf="status">
            <p>TimeSheet updated successfully</p>
        </div>

        <div *ngIf="status==false">
            <p>error while updating timesheet</p>
        </div>




    
        


<!-- <gettimesheet [timesheetId]="timesheetId" (sendTimesheet)="reciveTimesheet($event)"></gettimesheet>
<div *ngIf="timesheetInfo && timesheetInfo.timesheetId !=0">
      <div *ngIf="timesheetInfo">
        <p><label><b>Timesheet Id :</b></label><input type="text" name="timesheetId" #timesheetId="ngModel" [(ngModel)]="timesheetInfo.timesheetId"></p>
        <p><label><b>Project :</b></label><input type="text" name="projectId" #projectId="ngModel" [(ngModel)]="timesheetInfo.projectId"></p>
        <p><label><b>Task :</b></label><input type="text" name="taskId" #taskId="ngModel" [(ngModel)]="timesheetInfo.taskId"></p>
        <p><label><b>Employee :</b></label><input type="text" name="empId" #empId="ngModel" [(ngModel)]="timesheetInfo.empId"></p>
        <p><label><b>Date :</b></label><input type="text" name="date" #date="ngModel" [(ngModel)]="timesheetInfo.date"></p>
        <p><label><b>FromTime :</b></label><input type="text" name="fromTime" #fromTime="ngModel" [(ngModel)]="timesheetInfo.fromTime"></p>
        <p><label><b>ToTime :</b></label><input type="text" name="totime" #totime="ngModel" [(ngModel)]="timesheetInfo.totime"></p>
        
        <button (click)="updateTimesheet(timesheetInfo.timesheetId)" (click)="status=false">Update</button>
       </div>

        <div *ngIf="timesheetInfo && timesheetInfo.timesheetId ==0">
            <p> Account Not Found </p>
        </div>

        <div *ngIf="status">
             <p>TimeSheet updated successfully</p>
        </div>

        <div *ngIf="status == false">
            <p>Error While Updating Data</p>
        </div>


</div> -->

