<h2>Add Timesheet Entry</h2>
  <label>Project:</label>
  <select class="form-control" [(ngModel)]="selectedProjectId" (change)="getWorks()">
    <option *ngFor="let project of projects;" [value]="project.id">{{project.title | titlecase}}</option>
  </select>
  <label>Work:</label>
  <select class="form-control"  [(ngModel)]="timesheetDetail.employeeWorkId">
    <option *ngFor="let work of employeeWorks; let i = index" [value]="work.id">{{work.title | titlecase}}</option>
  </select>
  <label>From :</label>
  <input type="time" class="form-control d-flex flex-row-reverse gap-4 justify-content-start" name="fromTime" [(ngModel)]="timesheetDetail.fromTime" (change)="getDuration(timesheetDetail)">
  <label>TO:</label>
  <input type="time" class="form-control d-flex flex-row-reverse gap-4 justify-content-start" name="toTime" [(ngModel)]="timesheetDetail.toTime" (change)="getDuration(timesheetDetail)">
<br>
<p>Duration: {{timesheetDetail.durationInHours}}</p>
<button class="btn btn-success mx-2" type="submit" (click)="onClickAdd()">Add</button>
<button class="btn btn-danger" (click)="onClickCancel()">Cancel</button>