<!-- <div *ngIf="timesheet && timesheet.timesheetId !=0">
    <div *ngIf="timesheet">
        <th scope="row"><b>TimesheetId :</b>{{timesheet.timesheetId }}</th><br>
        <td><b>Project Title:</b>{{timesheet.projectTitle }} </td> <br>
        <td> <b>Task Title :</b>{{ timesheet.taskTitle }} </td><br>
        <td><b>Date:</b>{{timesheet.date | date: 'yyyy/MM/dd'}}</td><br>
        <td><b>From Time:</b> {{ timesheet.fromtime }} </td><br>
        <td><b> To Time :</b>{{ timesheet.totime }} </td><br>
        <button type="submit" (click)="onUpdateClick(timesheet.timesheetId)">Update</button>
        |
        <button type="submit" (click)="delete()">Delete</button>
        <p> </p>

        <hr>

        <div *ngIf="timesheet && timesheet.timesheetId ==0">
            <p>timesheet Details not Fount</p>
        </div>

    </div> -->



<div>
  <div *ngIf="timesheet && timesheet.timesheetId !=0">
    <table>
      <thead>
        <th>TimesheetId </th>
        <th>Project Title</th>
        <th>Task Title </th>
        <th>Date </th>
        <th>From Time </th>
        <th>To Time</th>
        <th>Details</th>
      </thead>
      <tbody>
        <tr *ngIf="timesheet">
          <td scope="row">{{ timesheet.timesheetId }}</td>
          <td>{{timesheet.projectTitle}}</td>
          <td>{{ timesheet.taskTitle}}</td>
          <td> {{ timesheet.date | date: 'yyyy/MM/dd' }} </td>
          <td> {{ timesheet.fromtime}} </td>
          <td>{{timesheet.totime}}</td>
          <td><button type="submit" (click)="onUpdateClick(timesheet.timesheetId)">Update</button>
            |
            <button type="submit" (click)="delete()">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>