<!-- <table>

    <tr>
        <td>
            <select Name="Members" size="10" (change)="changeMembersFrom($event)" multiple>
                <option *ngFor="let member of members">{{member}}</option>
            </select>
        </td>

        <td>
            <table>
                <tr>
                    <button (click)="submit1()">>></button>
                </tr>

                <tr>
                    <button (click)="submit2()"><<< /button>
                </tr>
            </table>
        </td>
        <td>Team B
            <select Name="selectedmembers" Size="10" (change)="changeMembersTo($event)" multiple>
                <option *ngFor="let mem of selectedmembers"> {{mem}} </option>
            </select>
        </td>
    </tr> -->