<div class="row">
    <div class="col-sm-6">
        <div *ngIf="leave">
                <p>Application Date:{{leave.createdOn |date}}</p>
                <p>LeaveType:{{leave.leaveType}}</p>
                <p>From Date:{{leave.fromDate |date}}</p>
                <p>To Date:{{leave.toDate |date}}</p>
                <p>Status:{{leave.status}}</p>
            <a [routerLink]="['/leave/addleave']">Apply leave</a>
        </div>
    </div>


    <!-- <div class="col-xl "><a [routerLink]="['/availableleave']">leaves available</a></div> -->
    <div class="col-sm-6">
        <available-leaves></available-leaves>
        <consumed-leaves></consumed-leaves>
        <total-leave></total-leave>
    </div>
</div>

