<label for="assignedTasksCheckbox">
    <input type="checkbox" id="assignedTasksCheckbox" [checked]="activeComponent === 'assigned'" (change)="activeComponent = 'assigned'"> Show Assigned Tasks
  </label>&nbsp;&nbsp;
  
  <label for="unassignedTasksCheckbox">
    <input type="checkbox" id="unassignedTasksCheckbox" [checked]="activeComponent === 'unassigned'" (change)="activeComponent = 'unassigned'"> Show Unassigned Tasks
  </label>
  
  <app-assignedtasksbymanager *ngIf="activeComponent === 'assigned'"></app-assignedtasksbymanager>
  <app-unassignedtasksbymanager *ngIf="activeComponent === 'unassigned'"></app-unassignedtasksbymanager>
  