

<div class="form-group col-6">
    <label for="leaveTypes">Leave Type:</label>
  <select name="leaveTypes" class="form-control" id="leaveType" (change)="onChange($event)" >
    <option *ngFor="let leave of leaveTypes" [value]="leave">{{leave}}</option>
  </select>
  </div>

<h3>Employee Leaves List</h3>
<div class="container">
    <div class="card col-6">
    <table class="table-bordered text-center">
            <thead>
                <tr>
                    <th>Employee Name</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Status</th>
                    <th>LeaveType </th>
                   </tr>
            </thead>
            <tbody *ngFor="let leave of leaves">
                <tr>
                    <td>{{leave.fullName}}</td>
                    <td>{{leave.fromDate |date}}</td>
                    <td>{{leave.toDate |date}}</td>
                    <td>{{leave.status}}</td>
                    <td>{{leave.leaveType}}</td>
                </tr>
            </tbody>
    </table>
</div>
