<div  class="col-sm-6">
<div  class="card" *ngIf="employee">
<table>
    <tr>
        <th>ProjectId :</th>
        <td>{{employee.projectId}}</td>
    </tr>
    <tr>
    <th>EmployeeId</th>
    <td>{{employee.employeeId}}</td>
    </tr><tr>
    <th>ProjectRole :</th>
    <td>{{employee.projectRole}}</td>
</tr><tr>
    <tr>
        <th>HiredDate:</th>
        <td>{{employee.hireDate|date}}</td>
    </tr><tr>
    <th>ProjectAssignDate</th>
    <td>{{employee.projectAssignDate|date}}</td>
</tr>
</table>
</div>
</div>
