
<div class="container mt-5">
    <h2>Add Project</h2>
    <form [formGroup]="addProjectForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" formControlName="title" placeholder="Enter Title" required>
      </div>
      <div class="form-group">
        <label for="startDate">Start Date</label>
        <input type="date" class="form-control" id="startDate" formControlName="startDate" required>
      </div>
      <div class="form-group">
        <label for="endDate">End Date</label>
        <input type="date" class="form-control" id="endDate" formControlName="endDate" required>
      </div>
        </div>
      <div class="col-md-6"></div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" formControlName="description" rows="4" placeholder="Enter Description" required></textarea>
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <select class="form-control" id="status" formControlName="status" required >
          <option value="Pending">Pending</option>
        </select>
      </div>
      <div class="form-group">
        <label for="teamManagerId" hidden>Team Manager ID</label>
        <input type="number" class="form-control" id="teamManagerId" formControlName="teamManagerId" [(ngModel)]="managerId" placeholder="Enter Team Manager ID" required readonly hidden>
      </div>
      <br>
      <br>
      <button type="submit" class="btn btn-primary" [disabled]="!addProjectForm.valid">Submit</button>
      </div>
    </form>
  </div>
  
  
