
<form #projectForm="ngForm" (ngSubmit)="onSubmit()">
    <table>
         <tr>
           <td><label>projectId:</label></td>
           <td><input type="number" name="projectId" [(ngModel)]="updateProject.projectId"  ></td>
         </tr>
         <tr>
           <td><label >EmployeeId:</label></td>
           <td><input type="number" name="employeeId" [(ngModel)]="updateProject.employeeId" ></td>
         </tr>        
          <tr>
            <td> <label>Release Date:</label></td>
            <td><input type="text" name="releaseDate" [(ngModel)]="updateProject.releaseDate"></td>
          </tr>        
          <tr>
             <td><label>Status</label></td>
            <td><input type="text" name="status" [(ngModel)]="updateProject.status"></td>
          </tr>
          <tr>
            <td><button type="submit" >Submit</button></td>
          </tr>
     </table>
   </form>