<div class="container">
    <h2>Employee Projects</h2>
    <div class="row">
      <div class="col-md-6">
        <app-employeeprojectfilters (filterByStatus)="filterProjectsByStatus($event)"></app-employeeprojectfilters>
        <table class="table table-secondary">
          <thead class="table-active">
            <tr>
              <th>Start Date</th>
              <th>Title</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let project of filteredProjects">
              <td>{{ project.startDate | date }}</td>
              <td>{{ project.title }}</td>
              <td>{{ project.status }}</td>
              <td>
                <button class="btn btn-primary" (click)="onActionClick('details',project.id)">Details</button>&nbsp; &nbsp;
                <button class="btn btn-primary" (click)="getAllTasksOfProject(project.id)">Tasks Details</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-6">
        <div *ngIf="activeAction === 'details' && selectedProjectId !== null">
          <app-employeeprojectdetails [projectId]="selectedProjectId"></app-employeeprojectdetails>
        </div>
      </div>
    </div>
  </div>
  