<div class="container">
    <h2>Employee Projects</h2>
    <div class="row">
      <div class="col-md-6">
        <app-employeeprojectfilters (filterByStatus)="filterProjectsByStatus($event)"></app-employeeprojectfilters>
        <table class="table">
          <thead>
            <tr>
              <th>Start Date</th>
              <th>Title</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let project of filteredProjects">
              <td>{{ project.startDate | date }}</td>
              <td>{{ project.title }}</td>
              <td>{{ project.status }}</td>
              <td>
                <button class="btn btn-primary" (click)="viewDetails(project.id)">Details</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-6">
        <div *ngIf="selectedProjectId !== null">
          <app-employeeprojectdetails [projectId]="selectedProjectId"></app-employeeprojectdetails>
        </div>
      </div>
    </div>
  </div>
  